
<div class="modal fade createContribution" role="dialog">
  
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click='close()'>&times;</button>
          <div class="modal-title">New Group</div>
        </div>

        <div class="modal-body">

          <!-- alert -->
          <div class="alert alert-danger" role="alert" id='errorMsg' ng-show='alert.error'>
                  <strong>Oh snap! </strong>{{ alert.errorMsg }}
          </div>

          <div class="alert alert-success" role="alert" id='successMsg' ng-show='alert.success'>
                  <strong>Awesome! </strong>{{ alert.successMsg }}
          </div>   

          <div class='editor' ng-hide='alert.success'>
                <div class="form-group">
                  <div class="col-sm-12">
                    <label class="control-label">Name</label>
                    <p class='control-label-help'>( name of the group  )</p>
                  </div>
                  <div class="col-sm-12">
                    <input type="text" class="form-control" placeholder="" ng-model='group.name' maxlength="20">
                  </div>
                </div>

                <div class="form-group">
                  <div class="col-sm-12">
                    <label class="control-label">Description</label>
                    <p class='control-label-help'>( short description of group, max 100 characters  )</p>
                  </div>
                  <div class="col-sm-12">
                    <textarea class="form-control" ng-model='group.description' maxlength="100"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <div class='col-sm-12'>
                    <label class="control-label">Group Type</label>
                    <p class='control-label-help'>( open groups can be freely joined by other members )</p>
                  </div>
                  <div class="col-sm-12"> 
                    <div class='radio radio-inline'>
                      <input type='radio' name='restricted' id='open' ng-model='group.restricted' value=false>
                      <label for='open'>Open</<label>
                    </div>
                    <div class='radio radio-inline'>
                      <input type='radio' name='restricted' id='closed' ng-model='group.restricted' value=true>
                      <label for='closed'>Closed</<label>
                    </div>
                  </div>
                </div>
          </div>

        </div>

        <div class="modal-footer">
          <center>
          <button type="button" class="btn btn-default modal-button" ng-if='!alert.success' ng-click='createGroup()' ng-disabled="!(group.name && group.restricted)">Submit</button>
          <button type="button" class="btn btn-default modal-button" data-dismiss='modal' ng-click='close()'>{{ alert.success ? "Close" : "Cancel" }}</button>
          </center>
        </div>
    
    </div>

  </div>

</div>

