<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

<!-- SEO PHP tags to go here -->
<meta name="Keywords" content="OpenID, National University of Singapore, NUS">
<meta name="Description" content="NUS OpenID">
<title>NUS - National University of Singapore - Studionet</title>
<meta http-equiv="X-UA-Compatible" content="IE=7;FF=3;OtherUA=4;text/html;charset=utf-8">
<!-- SEO PHP tags end -->
<link rel="stylesheet" type="text/css" href="assets/NUS/consolidated.css">
</head>
<body>
  <!-- wrapper -->
  <div id="wrapper">
    <!-- header -->
    <div id="nusheader" class="nusbody">
      <div class="nuslogodiv">
        <a href="http://www.nus.edu.sg/"> <img class="nuslogo" src="assets/NUS/logo.gif" alt="">
        </a>
      </div>
      <div id="nuspointermenu">
        <ul>
          <li><a href="http://exchange.nus.edu.sg/"><span style="text-transform: none">myEMAIL</span> </a></li>
          <li><a href="https://ivle.nus.edu.sg/lms/default.aspx">ivle</a></li>
          <li><a href="http://www.lib.nus.edu.sg/">library</a></li>
          <li><a href="http://www.nus.edu.sg/campusmap/">maps</a></li>
          <li><a href="https://aces01.nus.edu.sg/CoE/jsp/coeMain.jsp">calendar</a></li>     
          <li><a href="https://openid.nus.edu.sg/about/contact">contact</a></li>
          <li><a href="https://openid.nus.edu.sg/about/#" id="rightcorner">&nbsp;</a></li>
        </ul>
        <br style="clear: left">
      </div>
    </div>
    <!-- /header -->
    <div id="content">
      <div id="title" class="title">
        <h1>
          <a href="https://openid.nus.edu.sg/">NUS Studionet</a>
        </h1>
      </div>
          <div id="sidebar">
      <div id="my_menu" class="sdmenu">
        <span class="title-fix"><a href='#' onclick='enterUser()' id='login'>LOGIN</a></span>
        <span class="title-fix"><a href="/auth/google">GOOGLE</a></span>
        <span class="title-fix"><a href='/'>ABOUT</a></span>
      </div>
    </div>
    <!--/aboutus sidebar -->
      <div id="right-content">
        <div id="box">
          <div id="lb">
            <div id="rb">
              <div id="bb">
                <div id="blc">
                  <div id="brc">
                    <div id="tb">
                      <div id="tlc">
                        <div id="trc">
                          <!--- box border -->
                          <a id="top" name="top"></a>
                          <div id="main-content">
                            <h1>Studionet</h1>
                            <p>Studionet is a website for sharing and linking ideas. Login using your usual NUS ID, and start creating contributions and linking them into complex networks.</p>
                            <p style='background: url(assets/images/studionet_graph.JPG); min-height: 450px; background-position: center; background-size: contain; background-repeat: no-repeat; '></p>
                                                      
                            <p>                
                                <form action="/auth/openid" method="post" id="form_user">
                                  <input type="hidden" id=user_id type="text" name="openid_identifier" value="https://openid.nus.edu.sg/"/><br/>         
                                  </input>
                                </form>
                            </p>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- footer -->
    <div id="nusfooter" class="nusbody">
      <div id="nusfooter_ml">
        <div id="nusfooter_mr">
          <div id="nusfooter_tc">
            <div id="nusfooter_tl">
              <div id="nusfooter_tr">
                <div id="nusfooter_bc">
                  <div id="nusfooter_bl">
                    <div id="nusfooter_br">
                      <div class="inner">
                        <div class="left">
                          <p>© Copyright 2001-2012 National University of
                            Singapore. All Rights Reserved.</p>
                          <p class="nusfooterlinks">
                            <a href="http://www.nus.edu.sg/terms.php">Terms of Use</a>
                            | <a href="http://www.nus.edu.sg/policy.php">Privacy</a> |
                            <a href="http://www.nus.edu.sg/nondiscrim.php">Non-discrimination</a>
                          </p>
                        </div>
                        <div class="right">
                          <p class="copy nusfooterlinks">
                            <a href="https://openid.nus.edu.sg/">Home</a> | 
                            <a href="https://openid.nus.edu.sg/about/contact/">Contact</a>
                          </p>
                        </div>
                        <div style="clear: both;"></div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


<div id="window-resizer-tooltip" style="display: none;"><a href="https://openid.nus.edu.sg/about/#" title="Edit settings"></a><span class="tooltipTitle">Window size: </span><span class="tooltipWidth" id="winWidth">1343</span> x <span class="tooltipHeight" id="winHeight">1010</span><br><span class="tooltipTitle">Viewport size: </span><span class="tooltipWidth" id="vpWidth">810</span> x <span class="tooltipHeight" id="vpHeight">917</span></div></body><div></div></html>

<script>

var enterUser;

/*
 * Compatibility Testing
 */

// wrapper function to remove element from IE
function removeElement(element) {
    element && element.parentNode && element.parentNode.removeChild(element);
}

// Check for IE
(function(){
    var N= navigator.appName, ua= navigator.userAgent, tem;
    var M= ua.match(/(opera|chrome|safari|firefox|msie)\/?\s*(\.?\d+(\.\d+)*)/i);
    if(M && (tem= ua.match(/version\/([\.\d]+)/i))!= null) M[2]= tem[1];
    //M= M? [M[1], M[2]]: [N, navigator.appVersion,'-?'];

    if(M[1] == "MSIE"){
      alert("Sorry! Internet Explorer is currently unsupported by Studionet. Please switch to a different browser.");
      removeElement( document.getElementById('form_user') );
      removeElement( document.getElementById('login') );
    }
    else{
      enterUser = function(){
          document.getElementById("form_user").submit();
      }
    }

})();




</script>