<!DOCTYPE html>
<html>
<head>
	<title>test upload</title>
</head>
<body>
	<form enctype="multipart/form-data" action="/api/contributions/" method="post">
		<input type="text" name="tags" id="tags" value="funny" />
		<input type="text" name="title" id="title" value="just another thumbnail test" />
		<input type="text" name="body" id="body" value="just another thumbnail test" />
		<input type="text" name="ref" id="ref" value="374" />
		<input type="text" name="contentType" value="test" />
	  <input type="file" name="attachments" multiple />
	  <input type="submit" value="Upload file" name="submit" />
	</form>

</body>
</html>