<!DOCTYPE html>
<html>
  <head>
    <title>Studionet - A Graph Based Sharing Network</title>
    
    <meta name="viewport" content="width=device-width, initial-scale=1" charset="UTF-8">

    <!-- Theme -->
    <link rel="stylesheet" type="text/css" href="../assets/css/vendor.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/flat-admin.css">

    <!-- CSS for Angular PlugIns & Animations -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.css">
    <link rel="stylesheet" href="/user/plugins/treesearch/kjvelarde-multiselect-searchtree-0.9.0.min.css">
    <link rel="stylesheet" href="/user/plugins/slider/angular-ranger.css">
    <link rel="stylesheet" href="/user/plugins/animations/animate.css">
    <link rel='stylesheet' href='/user/plugins/textAngular/textAngular.css' />
    
    <!-- QTip -->
    <link rel="stylesheet" href="/user/plugins/qtip/jquery.qtip.min.css">

    <!-- Studionet CSS -->
    <link rel='stylesheet' href='/user/stylesheets/style.css' />
    <link rel='stylesheet' href='/user/stylesheets/modals.css' />
    <link rel='stylesheet' href='/user/components/graphs/graphs.css' />
    <link rel='stylesheet' href='/user/components/filters/filters.css'/>

  </head>

  <body ng-app="studionet">
    <div class="app app-default">
        <div class="app-container">
            <ui-view></ui-view>
        </div>
    </div>
  </body>


  <!-- Socket Connection -->
  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();
  </script>
  

  <!-- Template JS --> 
  <!-- should be placed here otherwise all the components stick to the side --> 
  <!-- includes bootstrap, jquery --> 
  <script type="text/javascript" src="../assets/js/vendor.js"></script>
  <script type="text/javascript" src="../assets/js/app.js"></script>

  <!-- Constants -->
  <script type="text/javascript" src="../user/js/constants.js"></script>

  <!-- AngularJS & Dependencies -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.6/angular-animate.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-aria.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.6/angular-resource.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.3.1/angular-ui-router.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/ng-tags-input/3.1.1/ng-tags-input.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload-all.min.js"></script>
  <!-- Angular Bootstrap -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap-tpls.min.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/2.3.0/ui-bootstrap.min.js"></script>
  <!-- Angular File Upload -->
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/danialfarid-angular-file-upload/12.0.4/ng-file-upload-all.min.js"></script>

  <!--- Cytoscape -->
  <script src="http://cytoscape.github.io/cytoscape.js/api/cytoscape.js-latest/cytoscape.min.js"></script>
  
  <!--qtip -->
  <script src="/user/plugins/qtip/jquery.qtip.min.js" charset="utf-8"></script>   
  <script src="/user/plugins/qtip/cytoscape-qtip.js" charset="utf-8"></script>      

  <!-- Spinner -->
  <script src="/user/plugins/spinner/spinner.min.js" charset="utf-8"></script>  

  <!--Filters JS-->
  <!-- js for multi-select tree-->
  <!-- https://github.com/kjvelarde/angular-multiselectsearchtree -->
  <script type="text/javascript" src="/user/plugins/treesearch/kjvelarde-multiselect-searchtree-0.9.0.min.js"></script>
  <script type="text/javascript" src="/user/plugins/treesearch/kjvelarde-multiselect-searchtree-0.9.0.tpl.js"></script>
  <script type="text/javascript" src="/user/plugins/slider/angular-ranger.js"></script> <!-- https://github.com/JustMaier/angular-ranger -->

  <!-- textAngular JS -->
  <script type="text/javascript" src="/user/plugins/textAngular/textAngular-rangy.min.js"></script>
  <script type="text/javascript" src="/user/plugins/textAngular/textAngular-sanitize.min.js"></script>
  <script type="text/javascript" src="/user/plugins/textAngular/textAngular.min.js"></script>

  <!-- Modal Service -->
  <script type="text/javascript" src="/user/plugins/modalservice/angular-modal-service.js"></script>


  <!-- App Related -->

  <!-- Constants-->
  <script type="text/javascript" src="/user/js/constants.js"></script> 

  <!-- Angular Routing -->
  <script type="text/javascript" src="/user/js/angularApp.js"></script>


  <!-- Services & Helpers-->
  <script type="text/javascript" src="/user/js/services.js"></script>
  <script type="text/javascript" src="/user/components/graphs/GraphService.js"></script>
  <script type="text/javascript" src="/user/components/graphs/graph-helper.js"></script>
  <script type="text/javascript" src="/user/components/graphs/graph-worker.js"></script>
  
  <!-- Controllers -->
  <script type="text/javascript" src="/user/js/MainController.js"></script>
  <script type="text/javascript" src="/user/components/nodes/NodeController.js"></script>
  <script type="text/javascript" src="/user/components/nodes/NewNodeController.js"></script>
  <script type="text/javascript" src="/user/components/profile/ProfileController.js"></script> 
  <script type="text/javascript" src="/user/components/filters/FilterController.js"></script> 
  <script type="text/javascript" src="/user/components/boards/UserBoardController.js"></script>
  <script type="text/javascript" src="/user/components/boards/NodeBoardController.js"></script>
  <script type="text/javascript" src="/user/components/links/LinksCtrl.js"></script> 


</html>
