<div id='contributionViewModal' class="modal fade" role="dialog" ng-controller="NodeController">

    <!-- Modal content-->
    <div id="{{ 'modal' + contribution.id }}"  class="modal-dialog modal-content reply-dialog">

          <!--- ng-if preferable to ng-show -->
          <!--- ng-if removes DOM element -->
          <div class="modal-body">

                <div class="authorBar row">
                    
                    <div class="col-xs-9">
                        <div class='row'>
                          <div class='col-xs-2 author-profile' style="background: url({{author.avatar}}?q={{random}});"></div>
                          <div class='col-xs-10'>
                              <div class='authorInfo'>
                                <div class = "row pointer" data-dismiss='modal' ng-click='showAuthorModal()' style='font-size: 15px; line-height: 27px; color:#646464;font-weight: 600;'>
                                {{ author.nickname.length ? author.nickname : author.name }} </div>
                                <div class='row meta' ng-if='contribution.tags.length>0'>Tagged <div class='tag' ng-repeat='tag in contribution.tags'>&bull; {{tag.name}} </div> </div>
                                <div class='row meta'><time>{{ contribution.lastUpdated ? contribution.lastUpdated : contribution.dateCreated | amCalendar }}</time> 
                                  &bull; {{ contribution.readingTime }}</div><!-- 300 CPM = 300 WPM -->
                              </div>
                          </div>
                        </div>
                    </div>

                    <div class="col-xs-3 text-right statisticsContainer" ng-class="{'hasStars':user.id != contribution.createdBy}">
                      <span id='rating' uib-rating ng-model="$parent.rate" max="$parent.max" read-only="false" on-hover="$parent.hoveringOver(value)" on-leave="overStar = null" ng-click='rateContribution($parent.rate, contribution.id)' ng-if='contribution.createdBy != user.id && user.isGuest != true'></span>
                      <span id='avg_rating' class="pop" 
                          uib-popover-template="'/user/components/nodes/statistics.html'" popover-trigger="'mouseenter'" 
                          popover-placement="bottom-right" popover-class='statsPopover' popover-append-to-body='true'>
                        {{ contribution.rating > 0 ? (contribution.rating).toFixed(1) : "-" }}  
                        <i class='glyphicon glyphicon-star'></i></span>
                    </div>

                </div>

                <!-- tags -->

                
                <!-- content -->
                <h1>
                  <i ng-click='toggleBookmark(contribution.id)' ng-class="bookmarked || hover ? 'bookmark fa fa-bookmark': 'bookmark fa fa-bookmark-o'" ng-mouseenter="hover = true" ng-mouseleave="hover = false" uib-tooltip='Bookmark'></i>&nbsp;&nbsp;{{contribution.title}}
                </h1>
                <hr>
                <p class='row contribution-content text-justify' ng-bind-html="contribution.body"></p>



                <!-- Attachments - if present -->
                <div class='row' ng-if='contribution.attachments[0].id!=null'>
                    <br/>
                    <br>
                    <b>Attachments ({{contribution.attachments.length}} files)</b>
                    <br/>
                    <div ng-repeat="attachment in contribution.attachments">
                      <a href="/api/contributions/{{contribution.id}}/attachments/{{attachment.id}}" target=_blank>
                        <div class='row'>
                          <div class='col-xs-2 attachment-thumb' style='background-image: url({{getThumb(contribution.id, attachment.attachment)}});'></div>
                          <div class='col-xs-10'>
                              <div class='attachment-details'>
                                <h6>{{attachment.attachment.name}}</h6>
                                <div> Size: {{ (attachment.attachment.size/1000).toFixed(2) }} KB </div>
                              </div>
                          </div>
                        </div>
                      </a>
                    </div>
                </div>


                <br><br>

                <div class='modal-section comments' ng-if='replies.length > 0'>
                    <h6 class='pointer background-color: white;' ng-click='showComments=!showComments' style='border-bottom: 1px solid #B9B9B9; height: 30px; line-height: 30px;'>
                      {{replies.length}} comment(s) &nbsp;&nbsp;
                      <i ng-class='showComments ? "fa fa-angle-double-up" : "fa fa-angle-double-right"' style='float:right; line-height: 30px;'></i>
                    </h6>

                    <div class='modal-section addComment animate' ng-show='showComments' ng-repeat='reply in replies | orderBy: dateCreated' style='padding: 0px 10px 0px 10px;'>
                      <div class='row pointer' style='margin-top: 15px;' ng-click='setData(reply.id);'>
                        <div class='dateCreated' style='font-size: 11px; color: #444;display: inline-block; float: right'>
                            Written <time am-time-ago="reply.lastUpdated ? reply.lastUpdated : reply.dateCreated "></time> </div><br>
                        <div class='header'>
                          <div class='profile' style='display: inline-block;'><img src='{{usersHash[reply.createdBy].avatar}}' style='width: 30px; height: 30px; border-radius: 50%; margin-right: 15px;'></div>
                          <b>
                            <div class='author-name' style='display: inline-block; height: 20px;'>{{usersHash[reply.createdBy].name}}</div>
                          </b>
                        </div>
                        <div class='comment-editor' style='margin-top: 15px;'>
                            <div ng-bind-html="reply.body"></div>
                            <div ng-if="reply.body == undefined">Loading comment...</div>
                        </div>
                      </div>
                    </div>
                </div>

                <br><br>

                <div class='row text-right' ng-cloak>

                  <span ng-hide='commentMode || replyMode || updateMode || editing'>
                      <button type="button" ng-click="setData(contribution.ref);" class="btn btn-default modal-button" ng-show='contribution.type=="comment"' uib-tooltip='Back to node' uib-position='top'><i class='fa fa-mail-reply'></i></button>
                      <button type="button" ng-click="showCommentModal(contribution.id)" class="btn btn-default modal-button" ng-if="!user.isGuest" ng-show='contribution.type!="comment"' uib-tooltip='Add Comment' uib-position='top'><i class='fa fa-comments'></i></button>
                      <button type="button" ng-click="showReplyModal(contribution.id)" class="btn btn-default modal-button" ng-if="!user.isGuest" ng-show='contribution.type!="comment"' uib-tooltip='Add Node' uib-position='top'><i class='fa fa-plus'></i></button>

                      <button type="button" class="btn btn-default modal-button" ng-show='contribution.type!="comment" && user.isGuest' uib-tooltip='Add Comment - Only open to NUS' uib-position='top'><i class='fa fa-comments'></i></button>
                      <button type="button" class="btn btn-default modal-button" ng-show='contribution.type!="comment" && user.isGuest' uib-tooltip='Add Node - Only open to NUS' uib-position='top'><i class='fa fa-plus'></i></button>
                      
                      <!-- if author -->
                      <button type="button" ng-click="showUpdateModal(contribution.id)" class="btn btn-default modal-button" ng-if="(user.id == contribution.createdBy)" ng-disabled="user.isGuest" uib-tooltip='Edit' uib-position='top'><i class='fa fa-pencil'></i></button>

                      <button type="button" ng-click="deleteContribution(contribution.id)" class="btn btn-default modal-button"
                      ng-if="(user.id == contribution.createdBy)" data-dismiss='modal' ng-disabled="user.isGuest" uib-tooltip='Delete' uib-position='top'><i class='fa fa-trash'></i></button>
                  </span>

                  <button type="button" ng-click="close();" data-dismiss='modal' class="btn btn-default modal-button" uib-tooltip='Close' uib-position='top'><i class='fa fa-close'></i></button>
                </div>
          </div><!-- modal body ends-->

    </div> <!-- modal content ends -->



    <!-- comment on contribution -->
    <ng-include src="'components/nodes/comment.html'" ng-if='commentMode' ></ng-include>

    <!-- reply to contribution -->
    <ng-include src="'components/nodes/reply.html'" ng-if='replyMode'></ng-include>

    <!-- update contribution -->
    <ng-include src="'components/nodes/update.html'" ng-if='updateMode'></ng-include>

    <!-- author profile -->
    <!-- <ng-include class='animate' src="'components/profile/profile.html'" ng-if='authorMode'  ng-controller='ProfileController' ng-init='setUser(contribution.createdBy, false)' ng-cloak></ng-include> -->

</div>

