<div id='contributionViewModal' class="modal fade" role="dialog">

    <!-- Modal content-->
    <div id="{{ 'modal' + contribution.id }}"  class="modal-dialog modal-content reply-dialog">

          <!--- ng-if preferable to ng-show -->
          <!--- ng-if removes DOM element -->
          <div class="modal-body">

                <div class="authorBar row">
                    
                    <div class="col-sm-8">
                        <div class = "authorInfo pointer" ng-click='showAuthorModal()'>
                          <h3 class='title'>{{contribution.title}}</h3>
                          <p>
                            <img class='profile-picture' 
                                style='width: 25px; height: 25px; display: inline-block; border-radius: 50%; margin-right: 10px;' 
                                src='{{author.avatar}}?q={{random}}'
                                alt='{{author.name[0]}}'/>
                                {{ author.nickname.length ? author.nickname : author.name }}
                          </p>
                        </div>
                    </div>

                    <div class="col-sm-4 text-right statisticsContainer" ng-class="{'hasStars':user.id != contribution.createdBy}">
                      <p id='rating' uib-rating ng-model="$parent.rate" max="$parent.max" read-only="false" on-hover="$parent.hoveringOver(value)" on-leave="overStar = null" ng-click='rateContribution($parent.rate, contribution.id)' ng-if='contribution.createdBy != user.id && user.isGuest != true'></p>
                      <span id='avg_rating' class="pop" 
                          uib-popover-template="'/user/components/nodes/statistics.html'" popover-trigger="'mouseenter'" 
                          popover-placement="bottom-right" popover-class='statsPopover' popover-append-to-body='true'>
                      {{ contribution.rating > 0 ? (contribution.rating).toFixed(1) : "No Ratings Yet" }}  
                      <i class='glyphicon glyphicon-star'></i></span>
                    </div>

                </div>

                <!-- tags -->
                <p class='row tags'>
                  <div class='tag' ng-repeat='tag in contribution.tags'>{{tag}}</div>
                </p>
                
                <!-- content -->
                <p class='row contribution-content text-justify' ng-bind-html="contribution.body"></p>



                <!-- Attachments - if present -->
                <div class='row' ng-if='contribution.attachments[0].id!=null'>
                    <br/>
                    <br>
                    <b>Attachments</b>
                    <br/>
                    <div ng-repeat="attachment in contribution.attachments">
                      <a href="/api/contributions/{{contribution.id}}/attachments/{{attachment.id}}" target=_blank>
                        <div class='row'>
                          <div class='col-xs-2 attachment-thumb' style='background-image: url({{getThumb(contribution.id, attachment.attachment)}});'></div>
                          <div class='col-xs-10'>
                              <div class='attachment-details'>
                                <p>{{attachment.attachment.name}}</p>
                                <p> Size: {{ (attachment.attachment.size/1000).toFixed(2) }} KB </p>
                              </div>
                          </div>
                        </div>
                      </a>
                    </div>
                </div>


                <br><br>

                <div class='modal-section comments' ng-if='replies.length > 0'>
                    <h5 class='pointer background-color: white;' ng-click='showComments=!showComments' style='border-bottom: 1px solid #B9B9B9; height: 30px; line-height: 30px;'>
                      {{replies.length}} comment(s) &nbsp;&nbsp;
                      <i ng-class='showComments ? "fa fa-angle-double-up" : "fa fa-angle-double-right"' style='float:right; line-height: 30px;'></i>
                    </h5>

                    <div class='modal-section addComment animate' ng-show='showComments' ng-repeat='reply in replies | orderBy: dateCreated' style='padding: 0px 10px 0px 10px;'>
                      <div class='row pointer' style='margin-top: 15px;' ng-click='setData(reply.id);'>
                        <div class='dateCreated' style='font-size: 11px; color: #444;display: inline-block; float: right'>Written on {{reply.dateCreated | date: 'mediumDate'}}</div><br>
                        <div class='header'>
                          <div class='profile' style='display: inline-block;'><img src='{{usersHash[reply.createdBy].avatar}}' style='width: 30px; height: 30px; border-radius: 50%; margin-right: 15px;'></div>
                          <b>
                            <div class='author-name' style='display: inline-block; height: 20px;'>{{usersHash[reply.createdBy].name}}</div>
                          </b>
                        </div>
                        <div class='comment-editor' style='margin-top: 15px;'>
                            <div ng-bind-html="reply.body"></div>
                            <div ng-if="reply.body == undefined">Loading comment...</div>
                        </div>
                      </div>
                    </div>
                </div>

                <br><br>

                <div class='row text-right' ng-cloak>

                  <span ng-hide='replyMode || updateMode || authorMode || editing'>
                      <button type="button" ng-click="setData(contribution.ref);" class="btn btn-default modal-button" ng-show='contribution.type=="comment"'>Back</button>
                      <button type="button" ng-click="showCommentModal(contribution.id)" class="btn btn-default modal-button" ng-disabled="user.isGuest" ng-show='contribution.type!="comment"'>Comment</button>
                      <button type="button" ng-click="showReplyModal(contribution.id)" class="btn btn-default modal-button" ng-disabled="user.isGuest" ng-show='contribution.type!="comment"'>Add Post</button>
                      
                      <!-- if author -->
                      <button type="button" ng-click="showUpdateModal(contribution.id)" class="btn btn-default modal-button" ng-if="(user.id == contribution.createdBy)" ng-disabled="user.isGuest">Edit</button>

                      <button type="button" ng-click="deleteContribution(contribution.id)" class="btn btn-default modal-button"
                      ng-if="(user.id == contribution.createdBy)" data-dismiss='modal' ng-disabled="user.isGuest">Delete</button>
                  </span>

                  <button type="button" ng-click="close();" data-dismiss='modal' class="btn btn-default modal-button">Close</button>
                </div>

          </div><!-- modal body ends-->

    </div> <!-- modal content ends -->

    <!-- comment on contribution -->
    <ng-include src="'components/nodes/comment.html'" ng-if='commentMode'  class="animate-if"></ng-include>

    <!-- reply to contribution -->
    <ng-include src="'components/nodes/reply.html'" ng-if='replyMode' class="animate-if"></ng-include>

    <!-- update contribution -->
    <ng-include src="'components/nodes/update.html'" ng-if='updateMode' class="animate-if"></ng-include>

    <!-- author profile -->
    <ng-include src="'components/profile/profile.html'" ng-if='authorMode'  class="animate-if" ng-controller='ProfileController' ng-init='setUser(contribution.createdBy, false)' ng-cloak></ng-include>

</div>

