<!-- Update Modal -->
<div id='linksModal' class="modal fade" role="dialog"  ng-controller='LinksController' >
  <div class="modal-dialog">  
    <div class="modal-content">

      <div class="modal-body">

              <div class='modal-info'>
                <h5>New Link</h5>
                <h6>Create a new link between the two nodes</h6>
              </div>

              <hr><br><br>

              <div class='row'>
                    <p>You are connecting <span class='pointer' ng-click='goToNode(sourceNode.id)' data-dismiss='modal'><b><u>{{sourceNode.title}}</u></b></span> by {{ getName(sourceNode.createdBy) }} to <span class='pointer' ng-click='goToNode(sourceNode.id)' data-dismiss='modal'><b><u>{{targetNode.title}}</b></u></span> by {{ getName(targetNode.createdBy) }} </p>
              </div>

              <br>

              <div class='row'>
                  <h5>Note:</h5>
                  <hr><br>
                  <textarea name="linkNote" style='min-height: 80px;' ng-model='linkNote' maxlength="600" placeholder="Enter a note..."></textarea>
                  <h6>{{600 - linkNote.length}} characters left</h6>
              </div>


              <div class='row text-right modal-section'>
                  <!-- <button type="button" class="btn btn-default modal-button" ng-click="switch()" class="btn btn-default modal-button" uib-tooltip='Switch Nodes' uib-position='top'><i class='fa fa-exchange'></i></button> -->
                  <button type="button" class="btn btn-default modal-button" ng-disabled="linkNote == undefined || linkNote.length==0" ng-click="addLink()" class="btn btn-default modal-button" uib-tooltip='Submit' uib-position='top' data-dismiss='modal'>
                      <i class='fa fa-send'></i>
                  </button>
                  <button type="button" class="btn btn-default modal-button" ng-click='cancel()' uib-tooltip='Cancel' uib-position='top' data-dismiss='modal'><i class='fa fa-trash'></i></button>
              </div>

          </div>
      </div>
    </div>
  </div>
</div>