<!-- Update Modal -->
<div id='view_links_modal' class="modal fade" role="dialog" ng-controller="LinksController">
  
  <div class="modal-dialog">  
    <div class="modal-content">

      <div class="modal-body">

              <div class='modal-info'>
                <h5>About this link</h5>
              </div>

              <hr><br><br>

              <div class='row'>

                  <p>This link connects <span class='pointer' ng-click='goToNode(sourceNode.id)' data-dismiss='modal'><b><u>{{sourceNode.title}}</u></b></span> to <span class='pointer' ng-click='goToNode(sourceNode.id)' data-dismiss='modal'><b><u>{{targetNode.title}}</b></u></span> </p>

                  <p>The connection was made by <span class='pointer' ng-click='goToUser(author.id)' data-dismiss='modal'>{{ author.name }}</span> <!-- on {{ linkNode.createdAt  | date: 'mediumDate'}}. --></p>
                  
                  <div ng-if='manualLink'>
                    <p>
                        <br><br>
                        {{ author.name }} says: 
                        <br>
                        <blockquote>
                          {{linkNode.note}}
                        </blockquote>
                    </p>

                  </div>

              </div>

              <div class='row text-right modal-section'>
                  <div ng-if='!createMode'>
                    <button type="button" class="btn btn-default modal-button" ng-click="deleteLink()" class="btn btn-default modal-button" uib-tooltip='Delete' uib-position='top' data-dismiss='modal' ng-if='linkOwner'><i class='fa fa-trash'></i></button>
                    <button type="button" class="btn btn-default modal-button" uib-tooltip='Close' uib-position='top' data-dismiss='modal'><i class='fa fa-close'></i></button>
                  </div>
                  <div ng-if='createMode'>
                    <button type="button" class="btn btn-default modal-button" ng-click="switch()" class="btn btn-default modal-button" uib-tooltip='Switch Nodes' uib-position='top'><i class='fa fa-exchange'></i></button>
                    <button type="button" class="btn btn-default modal-button" ng-click="addLink()" class="btn btn-default modal-button" uib-tooltip='Submit' uib-position='top' data-dismiss='modal'><i class='fa fa-send'></i></button>
                    <button type="button" class="btn btn-default modal-button" ng-click='cancel()' uib-tooltip='Cancel' uib-position='top' data-dismiss='modal'><i class='fa fa-trash'></i></button>
                  </div>
              </div>


          </div>
      </div>
    </div>
  </div>

</div>