<div id='contributionViewModal' class="modal fade" role="dialog">

    <!-- Modal content-->
    <div id="{{ 'modal' + contribution.db_data.id }}"  class="modal-dialog modal-content reply-dialog">

          <!--- ng-if preferable to ng-show -->
          <!--- ng-if removes DOM element -->
          <div class="modal-body">

                <div class="authorBar row">
                    
                    <div class="col-sm-8">
                        <div class = "authorInfo pointer" ng-click='showAuthorModal()'>
                          <h3 class='title'>{{contribution.db_data.title}}</h3>
                          <p>
                            <img class='profile-picture' 
                                style='width: 25px; height: 25px; display: inline-block; border-radius: 50%; margin-right: 10px;' 
                                src='{{author.avatar}}?q={{random}}'
                                alt='{{author.name[0]}}'/>
                                {{ author.nickname.length ? author.nickname : author.name }}
                          </p>
                        </div>
                    </div>

                    <div class="col-sm-4 text-right statisticsContainer" ng-class="{'hasStars':user.id != contribution.db_data.createdBy}">
                      <p id='rating' uib-rating ng-model="$parent.rate" max="$parent.max" read-only="false" on-hover="$parent.hoveringOver(value)" on-leave="overStar = null" ng-click='rateContribution($parent.rate, contribution.db_data.id)' ng-if='contribution.db_data.createdBy != user.id'></p>
                      <span id='avg_rating' class="pop" 
                          uib-popover-template="'/user/templates/statistics.html'" popover-trigger="'mouseenter'" 
                          popover-placement="bottom-right" popover-class='statsPopover' popover-append-to-body='true'>
                      {{ contribution.db_data.rating > 0 ? (contribution.db_data.rating).toFixed(1) : "No Ratings Yet" }}  
                      <i class='glyphicon glyphicon-star'></i></span>
                    </div>

                </div>

                <!-- tags -->
                <p class='row tags'>
                  <div class='tag' ng-repeat='tag in contribution.db_data.tags'>{{tag}}</div>
                </p>
                
                <!-- content -->
                <p class='row contribution-content text-justify' ng-bind-html="contribution.db_data.body"></p>



                <!-- Attachments - if present -->
                <div class='row' ng-if='contribution.db_data.attachments[0].id!=null'>
                    <br/>
                    <br>
                    <b>Attachments</b>
                    <br/>
                    <div ng-repeat="attachment in contribution.db_data.attachments">
                      <a href="/api/contributions/{{contribution.db_data.id}}/attachments/{{attachment.id}}" target=_blank>
                        <div class='row'>
                          <div class='col-xs-2 attachment-thumb' style='background-image: url({{getThumb(contribution.db_data.id, attachment.attachment)}});'></div>
                          <div class='col-xs-10'>
                              <div class='attachment-details'>
                                <p>{{attachment.attachment.name}}</p>
                                <p> Size: {{ (attachment.attachment.size/1000).toFixed(2) }} KB </p>
                              </div>
                          </div>
                        </div>
                      </a>
                    </div>
                </div>

                <br>

                <div class='row text-right'>
                  <span ng-hide='replyMode || updateMode || authorMode'>
                      <button type="button" ng-click="showReplyModal(contribution.id)" class="btn btn-default modal-button">Add</button>
                      
                      <!-- if author -->
                      <button type="button" ng-click="showUpdateModal(contribution.id)" class="btn btn-default modal-button" ng-if="(user.id == contribution.db_data.createdBy)">Edit</button>

                      <button type="button" ng-click="deleteContribution(contribution.db_data.id)" class="btn btn-default modal-button"
                      ng-if="(user.id == contribution.db_data.createdBy)" data-dismiss='modal'>Delete</button>
                  </span>

                  <button type="button" ng-click="close();" data-dismiss='modal' class="btn btn-default modal-button">Close</button>
              </div>

          </div><!-- modal body ends-->

    </div> <!-- modal content ends -->

    <!-- reply to contribution -->
    <ng-include src="'templates/contributionReply.html'" ng-if='replyMode'></ng-include>

    <!-- update contribution -->
    <ng-include src="'templates/updateContribution.html'" ng-if='updateMode'></ng-include>

    <!-- author profile -->
    <ng-include src="'templates/profile.html'" ng-if='authorMode' ng-controller='ProfileCtrl' ng-init='setUser(contribution.db_data.createdBy, false)' ng-cloak></ng-include>

</div>

