<!-- Stylesheet for graph -->
<link rel='stylesheet' href='./stylesheets/graph-style.css' />

<!-- Stylesheet for Modals & textAngular -->
<link rel='stylesheet' href='/user/stylesheets/textAngular/textAngular.css' />
<link rel='stylesheet' href='/user/stylesheets/contribution-modal-style.css' />

<!-- actual graph container -->
<div class='graph-container' ng-init='graphInit()'> 

  <!--Nav Bar with Filters-->
  <ng-include src="'templates/filters.html'"></ng-include>

  <div id='cy'></div>

  <div class='info-pane'>
    <!-- Zoom Level -->
    <h5>Zoom Level</h5> <h6>{{zoomLevel}} &nbsp; %</h6>
  </div>
  
  <div class='graph-controls'>
		<!-- reset graph -->
		<i class="graph-nav-control icon fa fa-arrows-alt" ng-click='resetGraph()' uib-tooltip='Fit Graph'  tooltip-placement='left'></i>

    <!-- filter toggle -->
    <i ng-class="filterStatus ? 'graph-nav-control icon fa fa-search btn-active' : 'graph-nav-control icon fa fa-search'" 
       ng-click='toggleFilter()' uib-tooltip='{{filterStatus ? "Clear Filters" : "Filter Mode"}}'  tooltip-placement='left'></i>

		<!-- create a contribution -->
		<i class="graph-nav-control icon fa fa-plus" ng-click='createNewContribution()' uib-tooltip='New Contribution'  tooltip-placement='left'></i>
  </div>
   
</div>

<!-- Modal -->
<ui-view></ui-view>





<!-- Chips Template for Create / Edit / Reply Contributions -->
<script type="text/ng-template" id="tags-template">
  <span>{{data.name}} ( <i>{{data.contributionCount}}</i> )</span>
</script>

