<div id="createContribution" class="modal fade createContribution" role="dialog" ng-controller="CreateContributionCtrl">
<div class="modal-dialog">

  <!-- Modal content-->
  <div class="modal-content">

      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" ng-click='close()'>&times;</button>
        <h4 class="modal-title">New Contribution</h4>
      </div>

      <div class="modal-body">

        <!-- alert -->
        <div class="alert alert-danger" role="alert" id='errorMsg' ng-show='alert.error'>
                <strong>Oh snap! </strong>{{ alert.errorMsg }}
        </div>

        <div class="alert alert-success" role="alert" id='successMsg' ng-show='alert.success'>
                <strong>Awesome! </strong>{{ alert.successMsg }}
        </div>   

        <div class='editor' ng-hide='alert.success'>

            <h3>New Contribution</h3><br>

            <!-- Reference -->
            <!-- <div class='form-section'>
              <input class='wide' placeholder="Connected To: None" ng-disabled="true">
            </div> -->

            <!-- Title -->
            <div class='form-section'>
              <!-- <label> Title </label> -->
              <input class='wide' value='Title' ng-model="contributionData.title" placeholder="Enter a title">
            </div>
           

            <!-- Content -->
            <div class='form-section'>
              <!-- <label> Content </label> -->
              <div text-angular ng-model="contributionData.body" class="textAngular" placeholder='Enter content...'></div>
            </div>


            <!-- attachments -->
            <div class='form-section'>
              <label> Attachments <small>({{contributionData.attachments.length}} file(s) uploaded)</small> </label>
              <!--<input type="file" ngf-select="showUplodatedFiles" ng-model="contributionData.attachments" name="file" ngf-multiple="true">-->
              <button type="button" class="btn btn-default modal-button" ngf-select="uplodateFiles($files, contributionData)" ngf-multiple="true">Choose File</button>
              <div class="attachments" ng-repeat="attachment in contributionData.attachments">
                <h5 style="color: blue; width: 70%; display: inline-block;"><u>{{ attachment.name }} ({{ attachment.size/1000 }} KB)</u></h5>
                <button style='float: right; display: inline-block;' class="btn btn-xs" ng-click="removeFiles(attachment)">X</button>
              </div>
            </div>

            <!-- tags -->
            <div class='form-section'>
              <label> Tags <small>( {{ contributionData._tags.length || 0 }} tag(s) added) </small></label>
              <tags-input class='tags-input' class="bootstrap"
                type='text'
                ng-model="contributionData._tags"
                display-property='name'
                placeholder="Add a tag"
                replace-spaces-with-dashes="false"
                template='tag-item-template'>
              <auto-complete source="loadTags($query)"
                             min-length="0"
                             debounce-delay="0"
                             max-results-to-show="10000"
                             load-on-down-arrow="true"
                             load-on-focus="true"
                             template="tags-template"></auto-complete>
              </tags-input>
            </div>

            <br>

            <div class='form-section text-right'>
                <button type="button" class="btn btn-default modal-button" ng-if='!alert.success' ng-click='createContribution()' ng-disabled="!(contributionData.body && contributionData.title)">Submit</button>
                <button type="button" class="btn btn-default modal-button" data-dismiss='modal' ng-click='close()'>{{ alert.success ? "Close" : "Cancel" }}</button>
            </div>

        </div>

      </div>

<!--       <div class="modal-footer">
        <button type="button" class="btn btn-default modal-button" ng-if='!alert.success' ng-click='createContribution()' ng-disabled="!(contributionData.body && contributionData.title)">Submit</button>
        <button type="button" class="btn btn-default modal-button" data-dismiss='modal' ng-click='close()'>{{ alert.success ? "Close" : "Cancel" }}</button>
      </div> -->
  
  </div>

</div>
</div>

