<link rel='stylesheet' href='./stylesheets/filter-style.css' />

<!-- Side Nav with Filters -->
<aside ng-controller="FilterCtrl" ng-init='init()' class="app-sidebar" id="sidebar">
  <div class="sidebar-menu">
    <ul class="sidebar-nav">
          <div id='filters'>              

               <!-- By Author Filter -->
               <div class="filter-panel panel badge-success" id='author-filter'>
                    <div class="filter-heading"> 
                      <h6>By Authors: ({{selectedAuthors.length}}) <!-- <button class='pull-right' ng-click=toggle('Authors')>x</button> --></h6> 
                      
                    </div>
                    <multiselect-searchtree data-input-model="authors" multi-select="true"
                                  data-output-model="selectedAuthors" data-callback="CustomCallback(item, selectedItems)"
                                  data-select-only-leafs="false" extra-buttons="false" class="filter1" style="display:none"></multiselect-searchtree>
                </div>

                <!-- By Tags Filter -->
                <div class="filter-panel panel badge-success" >
                    <div class="filter-heading">  
                      <h6>Containing tags: ({{selectedTags.length}})<!--  <button class='pull-right' ng-click=toggle('Tags')>x</button> --></h6>
                      
                    </div>
                    <multiselect-searchtree data-input-model="tags" multi-select="true"
                                  data-output-model="selectedTags" data-callback="CustomCallback(item, selectedItems)"
                                  data-select-only-leafs="false" extra-buttons="false" class="filter1" style="display:none"></multiselect-searchtree>
                </div>
                
                <!-- By Rating -->
                <div class='filter-panel panel'>
                    <div class="filter-heading">  
                      <h6>With rating: ({{ratingMin}} - {{ratingMax}})</h6>  
                    </div>
                    <angular-ranger min="0" max="5" step="1" min-value=ratingMin max-value=ratingMax style="display:none"></angular-ranger>
                </div>

                <!-- By Date Range -->
                <div class='filter-panel panel'>
                    <div class="filter-heading">  
                      <h6>Between dates: ( {{ (lastDate - firstDate) / 86400000}} days)</h6>  
                    </div>
                    <div style="display:none">
                      From: <input type="date" name="firstDate" ng-model='firstDate'>
                      <br>
                      Till: <input type="date" name="lastDate" ng-model='lastDate'>
                    </div>
                    <!--<angular-ranger min="0" max="20" step="1" value="value.max" style="display:none"></angular-ranger>-->
                </div>

                <!-- By Depth -->
                <div class='filter-panel panel'>
                    <div class="filter-heading">  
                      <h6>Number of Child nodes: ({{depthVal}})</h6>  
                    </div>
                    <angular-ranger min="0" max="3" value=depthVal style="display:none"></angular-ranger>
                </div>

                <!-- Final Filter Button -->
                <div class='filter-panel panel'>
                  <div class="filter-heading" id='filter-btn' ng-click="filterRequest()"> 
                    <h6>Filter</h6>  
                  </div>
                </div>
                              
          </div>
    </ul>
  </div>
</aside>


