<div id="myModal" class="modal fade createContribution" role="dialog">
  
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" ng-click='closeFilter();' data-dismiss="modal" >&times;</button>
          <h4 class="modal-title">Filters</h4>
        </div>

        <div class="modal-body">

            <div uib-accordion class="accordion"> 

                  <!-- By Author Filter -->
                  <div uib-accordion-group>
                    <uib-accordion-heading> 
                      <h4>Authors</h4>
                    </uib-accordion-heading>

                    <div uib-accordion class="sub-accordion"> 

                       <div uib-accordion-group>
                          <uib-accordion-heading> 
                            <h5>Individual Users</h5>
                          </uib-accordion-heading>
                          <multiselect-searchtree data-input-model="users" multi-select="true"
                                      data-output-model="$parent.$parent.$parent.$parent.$parent.$parent.selectedUsers" data-callback="CustomCallback(item, selectedItems)"
                                      data-select-only-leafs="false" extra-buttons="false"></multiselect-searchtree> 
                        </div>

                        <div uib-accordion-group>
                          <uib-accordion-heading> 
                            <h5>Group Members</h5>
                          </uib-accordion-heading>
                          <multiselect-searchtree data-input-model="groups" multi-select="true"
                                      data-output-model="$parent.$parent.$parent.$parent.$parent.$parent.selectedGroups" data-callback="CustomCallback(item, selectedItems)"
                                      data-select-only-leafs="false" extra-buttons="false"></multiselect-searchtree> 
                        </div>
                    </div>
                  </div>

                  <!-- By Tags Filter -->
                  <div uib-accordion-group>
                    <uib-accordion-heading>
                      <h4>Tags</h4>
                    </uib-accordion-heading>
                    <multiselect-searchtree id='tagFilter' data-input-model="tags" multi-select="true"
                                  data-output-model="$parent.$parent.$parent.selectedTags" data-callback="CustomCallback(item, selectedItems)"
                                  data-select-only-leafs="false" extra-buttons="false"></multiselect-searchtree>
                  </div>

                  <!-- By Ranges-->
                  <div uib-accordion-group id='range-panel'>

                      <uib-accordion-heading>  
                        <h4>Ranges</h4>  
                      </uib-accordion-heading>

                      <div class='col-sm-12'>

                        <div id='dateFilter'>
                          <h5>Date Range <!-- <span class='filter-element-count'></span> --></h5>  
                          From: <input type="date" name="firstDate" ng-model='$parent.$parent.$parent.startDate'>
                          <br>
                          Till: <input type="date" name="lastDate" ng-model='$parent.$parent.$parent.endDate'>
                        </div>



                        <div class='col-sm-12'>
                          <h5>Rating <!-- <span class='filter-element-count'></span> --></h5>  
                          <angular-ranger id='ratingFilter' min="0" max="5" step="1" min-value=$parent.$parent.$parent.ratingMin max-value=$parent.$parent.$parent.ratingMax></angular-ranger>
                        </div>

                      </div>

                  </div>

            </div>

        </div>

        <div class="modal-footer">

          <center>
            <i class="graph-nav-control icon fa fa-filter" ng-click="filterRequest();closeFilter();" uib-tooltip='Filter' tooltip-placement='top' data-dismiss="modal"></i>
            <i class="graph-nav-control icon fa fa-remove" ng-click="clearFilter();closeFilter();" uib-tooltip='Clear Filter' tooltip-placement='top' data-dismiss="modal"></i>
          </center>
            
        </div>

    </div>
    
  </div>

</div>
