<link rel='stylesheet' href='./stylesheets/filter-style.css' />
<link rel='stylesheet' href='./stylesheets/accordion.css' />

<!-- Side Nav with Filters -->

<div id='filterPanel' ng-controller="FilterCtrl" ng-init='init();' class="container-fluid" ng-show='filterVisible'>
    
    <div id='filters' class='row'> 
      <div uib-accordion id="accordion" close-others=false>  

        <div class='col-sm-5'>
         <!-- By Author Filter -->
          <div uib-accordion-group is-open=$parent.panelsOpen class="filter-panel panel badge-success">
              <uib-accordion-heading class="filter-heading"> 
                <h5>Authors</h5>
              </uib-accordion-heading>

              <div class='row'>
                <div class='col-sm-6'>
                  <h6>Individual Users</h6>
                  <multiselect-searchtree id='authorFilter' data-input-model="users" multi-select="true"
                                data-output-model="$parent.$parent.$parent.selectedUsers" data-callback="CustomCallback(item, selectedItems)"
                                data-select-only-leafs="false" extra-buttons="false" class="filter1"></multiselect-searchtree> 
                </div>
                <div class='col-sm-6'>
                  <h6>Group Members</h6>
                  <multiselect-searchtree id='authorFilter' data-input-model="groups" multi-select="true"
                                data-output-model="$parent.$parent.$parent.selectedGroups" data-callback="CustomCallback(item, selectedItems)"
                                data-select-only-leafs="false" extra-buttons="false" class="filter1"></multiselect-searchtree> 
                </div>
              </div>

          </div>
        </div>

        <div class='col-sm-3'>
          <!-- By Tags Filter -->
          <div uib-accordion-group is-open=$parent.panelsOpen class="filter-panel panel badge-success">

              <uib-accordion-heading class="filter-heading">
                <h5>Tags</h5>
              </uib-accordion-heading>

              <multiselect-searchtree id='tagFilter' data-input-model="tags" multi-select="true"
                            data-output-model="$parent.$parent.$parent.selectedTags" data-callback="CustomCallback(item, selectedItems)"
                            data-select-only-leafs="false" extra-buttons="false" class="filter1"></multiselect-searchtree>
          </div>
        </div>
         
        <div class='col-sm-2'> 
          <!-- By Ranges-->
          <div uib-accordion-group is-open=$parent.panelsOpen class='filter-panel panel'>

              <uib-accordion-heading class="filter-heading">  
                <h5>Ranges</h5>  
              </uib-accordion-heading>

              <div id='dateFilter'>
                From: <input type="date" name="firstDate" ng-model='$parent.$parent.$parent.startDate'>
                <br>
                Till: <input type="date" name="lastDate" ng-model='$parent.$parent.$parent.endDate'>
              </div>

              <h5>Rating <span class='filter-element-count'></span></h5>  
              <angular-ranger id='ratingFilter' min="0" max="5" step="1" min-value=$parent.$parent.$parent.ratingMin max-value=$parent.$parent.$parent.ratingMax></angular-ranger>


              <h5>Depth <span class='filter-element-count'></span></h5>  
              <angular-ranger id='depthFilter' min="0" max="3" value=$parent.$parent.$parent.depthVal></angular-ranger>
          </div>
        </div>

        <!-- Final Filter Button -->
        <div class='col-sm-2'>

          <!-- Toggle Filter Button -->
          <div class='col-sm-4 filter-btn  align-right' ng-click="$parent.panelsOpen = !$parent.panelsOpen" uib-tooltip='Toggle Panel' tooltip-placement='bottom'>
            <div class="icon"><i ng-class="$parent.panelsOpen ? 'fa fa-chevron-up' : 'fa fa-chevron-down'"  aria-hidden="true"></i></div>
          </div>

          <!-- Reset Button -->
          <div class='col-sm-4 filter-btn  align-right' ng-click="clearFilter()" uib-tooltip='Reset' tooltip-placement='bottom'>
            <div class="icon"><i class="fa fa-circle" aria-hidden="true"></i></div>
          </div>

          <!-- Filter Button -->
          <div class='col-sm-4 filter-btn  align-right' ng-click="filterRequest()" uib-tooltip='Filter Graph' tooltip-placement='bottom'>
            <div class="icon"><i class="fa fa-filter" aria-hidden="true"></i></div>
          </div>




        </div>

    </div>
</div>

