<link rel='stylesheet' href='./stylesheets/filter-style.css' />
<link rel='stylesheet' href='./stylesheets/accordion.css' />

<div class="modal fade filterModal" role="dialog" ng-controller="FilterCtrl" ng-init='init()'>
  
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" >

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" ng-click='close()'>&times;</button>
          <!-- <h4 class="modal-title">Filters</h4> -->
        </div>

        <div class="modal-body">


    		<div uib-accordion> 

            <!-- By Author Filter -->
            <div uib-accordion-group class="filter-panel panel badge-success">
              <uib-accordion-heading class="filter-heading"> 
                <h4>Authors</h4>
              </uib-accordion-heading>

              <div uib-accordion> 

              	 <div uib-accordion-group>
                    <uib-accordion-heading class="filter-heading"> 
                  		<h5>Individual Users</h5>
                    </uib-accordion-heading>
                    <multiselect-searchtree data-input-model="users" multi-select="true"
                                data-output-model="$parent.$parent.$parent.$parent.$parent.$parent.selectedUsers" data-callback="CustomCallback(item, selectedItems)"
                                data-select-only-leafs="false" extra-buttons="false"></multiselect-searchtree> 
                  </div>

                  <div uib-accordion-group>
                    <uib-accordion-heading class="filter-heading"> 
                      <h5>Group Members</h5>
                    </uib-accordion-heading>
                    <multiselect-searchtree data-input-model="groups" multi-select="true"
                                data-output-model="$parent.$parent.$parent.$parent.$parent.$parent.selectedGroups" data-callback="CustomCallback(item, selectedItems)"
                                data-select-only-leafs="false" extra-buttons="false"></multiselect-searchtree> 
                	</div>
              </div>
            </div>

            <!-- By Tags Filter -->
            <div uib-accordion-group class="filter-panel panel badge-success">
              <uib-accordion-heading class="filter-heading">
                <h4>Tags</h4>
              </uib-accordion-heading>
              <multiselect-searchtree id='tagFilter' data-input-model="tags" multi-select="true"
                            data-output-model="$parent.$parent.$parent.selectedTags" data-callback="CustomCallback(item, selectedItems)"
                            data-select-only-leafs="false" extra-buttons="false"></multiselect-searchtree>
            </div>

            <!-- By Ranges-->
            <div uib-accordion-group class='filter-panel panel'>

              <uib-accordion-heading class="filter-heading">  
                <h4>Ranges</h4>  
              </uib-accordion-heading>

              <div class='col-sm-4'>
                <div id='dateFilter'>
                  From: <input type="date" name="firstDate" ng-model='$parent.$parent.$parent.startDate'>
                  <br>
                  Till: <input type="date" name="lastDate" ng-model='$parent.$parent.$parent.endDate'>
                </div>
              </div>

              <div class='col-sm-4'>
                <h5>Rating <span class='filter-element-count'></span></h5>  
                <angular-ranger id='ratingFilter' min="0" max="5" step="1" min-value=$parent.$parent.$parent.ratingMin max-value=$parent.$parent.$parent.ratingMax></angular-ranger>
              </div>

              <div class='col-sm-4'>
                <h5>Depth <span class='filter-element-count'></span></h5>  
                <angular-ranger id='depthFilter' min="0" max="3" value=$parent.$parent.$parent.depthVal></angular-ranger>
              </div>

            </div>

      	</div>

        </div>

        <div class="modal-footer">
          <center>

            <i class="graph-nav-control icon fa fa-filter" data-dismiss='modal' ng-click="filterRequest();close()" uib-tooltip='Filter' tooltip-placement='top'></i>
            
          </center>
        </div>
    </div>
  </div>

</div>

