<div class='modal-body'>
	
	<h1>Studionet</h1>
	<h6>Help Document, Version 2b, 22nd Feb 2017.</h6>

	<hr><br>

	<h3>Overview</h3>
	<p>
		<br>
		Studionet is a collaborative website for sharing and linking ideas. The aim of Studionet is to support complex non-linear discussions, where patterns emerge in a bottom up manner rather than being imposed in a 
		top down manner.

		<br>
		
		The main interface shows a galaxy of nodes and links floating in space. A node represents a post created by a user. Links represent relationships between nodes. For example, one user may create a question node, 
		and another user may create an answer to that question. This will create a link from the answer node to the question node.
		
		<br>
		The galaxy of nodes and links will self-organise into clusters organised on a spiral. At the centre of the spiral are the nodes with the most links. Any node can end up at the centre – 
		it all depends what other people are doing. If lots of people link to your node, then your node may end up right at the top!
		
		<br><br>

		<h4>Get Started</h4>
		<b> Go to the website - </b> <a href='http://studionet.nus.edu.sg' target='_blank'>http://studionet.nus.edu.sg</a>

		<br><br>

		When you click “Login”, you will be taken to NUS OpenID. This allows us to authenticate you as an NUS member. Login using your usual NUS ID. If you get asked to “Allow”, then you can go ahead and agree.
		At the moment, Studionet is only open to students from AR2521, along with some Architecture Department staff, and possibly a few other staff members.
		
		<br>
		We can also allow guests to join via a Google account. However, they need to send an email to us to ask to be added to the system - 
		<a href='http://studionet.nus.edu.sg/guest'>http://studionet.nus.edu.sg/guest</a>

		<br>
		Studionet has mainly been tested on Chrome, but Firefox, Edge, and Safari also seem to work fine. (If you discover any problems, let us know.) <b><u>Internet Explorer is not supported.</u></b>
	</p>
	






	<div class='row text-right'>
		<button type="button" class="btn btn-default modal-button" ng-click='close()' uib-tooltip='Close' uib-position='top'><i class='fa fa-close'></i></button>
	</div>
</div>

    
