<style>
.graphViewModal .modal-body{
  max-height: calc(100% - 58px);
}
.graphViewModal .modal-header{
  height: 18px !important;
  padding: 0px !important;
  /*border-bottom: none !important;*/
}
.graphViewModal .titleBar{
  height: 40px !important;
  border-bottom: 1px solid #e5e5e5;
}
.graphViewModal .titleBar .title{
  font-family: 'Open Sans', sans-serif;
  font-size:17px !important;
  margin: 0px !important;
  padding-left: 10px;

  width:70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block; /*important*/


}
.graphViewModal .titleBar .simpleIcon{
  /*padding-left: 50px;*/
  /*float:right;*/
}
.graphViewModal .authorBar img{
  width: 65px; 
  height: 65px;
  border-radius: 50%;
  margin-left: 30px;
  margin-top: -45px;
  /*display: inline-block;*/
}
.graphViewModal .authorBar .authorInfo{
  display: inline-block;
}
.graphViewModal .nav-tabs{
  width: 100%;
  display:inline;
}
</style>

<div class="modal fade graphViewModal">
    <!--     <div class='col-sm-4'>
      <div class="modal-dialog sidebar">
        <div class='modal-content'>
          <p>This is the sub-graph to show the map. It should associate with the scrolling actions in the right canvas.</p>
        </div>
      </div>
    </div> -->

<!--     <div class='col-sm-12 modal-dialog-container'> -->

      <!-- Repeat for every contribution in tree -->

      <div class="modal-dialog" ng-repeat='contribution in contributionTree'> 
        
        <div id="{{ 'modal' + contribution.db_data.id }}" class="modal-content">
          
          <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" ng-click='close()' aria-hidden="true">&times;</button>
          </div>

          <!-- alert -->
          <div class="alert alert-danger" role="alert" id='errorMsg' ng-show='alert.error'>
                  <strong>Oh snap! </strong>{{ alert.errorMsg }}
          </div>

          <div class="alert alert-success" role="alert" id='successMsg' ng-show='alert.success'>
                  <strong>Awesome! </strong>{{ alert.successMsg }}
          </div>   


          <div class='titleBar'>
              <p class='title'>{{contribution.db_data.title}}</p>

              <i class="pop simpleIcon icon fa fa-star" uib-popover-template="'/user/templates/rating.html'" popover-trigger="'outsideClick'"popover-placement="bottom"></i>

              <i class="pop simpleIcon icon fa fa-bar-chart" uib-popover-template="'/user/templates/statistics.html'" popover-trigger="'outsideClick'"popover-placement="bottom"></i>
          </div>


          <div class="modal-body" ng-hide='alert.success'>

                <div class="authorBar">
                  <img src={{users[contribution.db_data.createdBy].avatar}}>
                  <div class = "authorInfo">
                    <p>{{ users[contribution.db_data.createdBy].name }}</p>
                    <p>Tagline</p>
                    <p>{{contribution.db_data.dateCreated | date:'d MMM yyyy'}}    {{contribution.db_data.views}} views</p>
                    <p>Rating: {{contribution.db_data.totalRating}}</p>
                  </div>
                </div>

                <!-- Content -->
                <div class='tab-pane fade in active'>

                    <!-- content -->
                    <p ng-bind-html="contribution.db_data.body"></p>
                    <br><br>
                </div>

                    <!-- Attachments - if present -->
                    <div class='tab-pane fade' id="{{ 'attachments' + contribution.db_data.id}}" ng-if='contribution.db_data.attachments[0].id!=null'> 
                        <div class='row'>
                            <div ng-repeat="attachment in contribution.db_data.attachments">
                              <div class='card row'>
                                <div class='col-sm-3 attachment-thumb' style='background-image: url({{getThumb(contribution.db_data.id, attachment.attachment)}});'>
                                </div>
                                <div class='col-sm-9'>
                                  <h3 class='contributionName'>{{attachment.attachment.name}}</h3>
                                  <h6> Size: {{ attachment.attachment.size/1000 }} MB </h6>
                                  <h6><a href="/api/contributions/{{contribution.db_data.id}}/attachments/{{attachment.id}}" target=_blank>Download </a></h6>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>


               <!-- Tabs -->
                <div class='row'>
                  <ul class="nav nav-tabs pull-right">
                    <!-- <li><a data-target="{{ '#statistics' + contribution.db_data.id}}"  data-toggle="tab">Statistics</a></li> -->
                    <li><a data-target="{{ '#reply' + contribution.db_data.id}}"  data-toggle="tab">Reply</a></li>
                    <li><a data-target="{{ '#link' + contribution.db_data.id}}"  data-toggle="tab">Link</a></li>
                    <!-- <li ng-if='contribution.db_data.attachments[0].id!=null'><a data-target="{{ '#attachments' + contribution.db_data.id}}"  data-toggle="tab">Attachments</a></li> -->
                  </ul>
                </div>

                <div class='row tab-content'>

                    <!-- Update existing contributions -->
                    <div class='tab-pane fade' id="{{ 'reply' + contribution.db_data.id}}">
                      <label>Update the above contribution:</label>
                      <br><br>
                      <!-- Title -->
                      <div class='form-section'>
                        <label> Title </label>
                        <input class='wide' value='Title' ng-model="contributionData.title">
                      </div>
                      <!-- tags -->
                      <div class='form-section'>
                        <label> Tags <small>( {{ contributionData._tags.length || 0 }} tag(s) added) </small></label>
                        <tags-input class='tags-input' class="bootstrap"
                          type='text'
                          ng-model="contributionData._tags"
                          display-property='name'
                          placeholder="Add a tag"
                          replace-spaces-with-dashes="false">
                        <auto-complete source="loadTags($query)"
                                      min-length="0"
                                      debounce-delay="0"
                                      max-results-to-show="10000"
                                      load-on-down-arrow="true"
                                      load-on-focus="true"
                                      template="tags-template"></auto-complete>
                        </tags-input>
                      </div>
                      <!-- Content -->
                      <div class='form-section'>
                        <label> Content </label>
                        <div text-angular ng-model="contributionData.body" class="textAngular"></div>
                      </div>
                       <!--Relationship 
                      <div class='form-section'>
                        <label for="singleSelect"> Relationship: </label>
                        <select name="singleSelect" id="singleSelect" ng-model=contributionData.refType>
                          <option ng-repeat="rel in relationships | filter: { src_type: 'contribution', 
                                                  target_type: 'contribution'}" 
                                                  value={{rel.name}}>{{rel.name}}</option>
                        </select>
                      </div>-->

                      <!-- attachments -->
                      <div class='form-section'>
                        <!-- should be different from create / reply editor -->
                        <label> Attachments <small>({{ contributionData.attachments.length - (contributionData.attachments[0].id == null ? -1 : 0) }} file(s) uploaded)</small> </label>
                        <div class="button" ngf-select ng-model="contributionData.attachments" ngf-multiple="true">Choose File</div>
                      </div>
                      
                      <!-- selected tags: -->
                      <div class='form-section'>
                        <span><b> Selected tag names:  </b></span> 
                        <span>{{ contributionData }}</span>
                      </div>

                      <button type="button" ng-click="submitContribution(showCreateContribution,showLinkingContribution,showUpdateContribution,contributionData,linkData);
                    showCreateContribution=false; showUpdateContribution=false; showLinkingContribution=false; hideReplyButton=false" class="btn btn-default modal-button">Submit</button>
                    
                    </div>

                    <!-- Add cross links -->
                    <div class='tab-pane fade' id="{{ 'link' + contribution.db_data.id}}">
                      <label> Link the above contribution to others:</label>
                      <br><br>
                      <!-- Set the current Contribution: -->
                      <div class='form-section'>
                        <label for="singleSelect"> The current contribution is </label>
                        <select name="singleSelect" id="singleSelect" ng-model=linkData.currentContributionType>
                          <option value='source'>source</option>
                          <option value='target'>target</option>
                        </select>
                      </div>
                      <!-- Set the Relationship: -->
                      <div class='form-section'>
                      <label for="singleSelect"> Relationship: </label>
                      <select name="singleSelect" id="singleSelect" ng-model=linkData.relationshipName>
                        <option ng-repeat="rel in relationships | filter: { src_type: 'contribution', 
                                                target_type: 'contribution'}" 
                                                value={{rel.name}}>{{rel.name}}</option>
                      </select>
                      </div>
                      <!-- Set the final linked contribution: -->
                      <div class='form-section'>
                        <label>The new linked contribution is:</label>
                        <label for="singleSelect" ng-show="linkData.currentContributionType == 'source'"> Target </label>
                        <label for="singleSelect" ng-show="linkData.currentContributionType == 'target'"> Source </label>
                        <select name="singleSelect" id="singleSelect" ng-model="linkData.linkedtoContributionId">
                          <option ng-repeat="tmp in contributions" value={{tmp.id}}>{{tmp.title}} ({{tmp.id}})</option>
                        </select>
                      </div>

                      <button type="button" ng-click="submitContribution(showCreateContribution,showLinkingContribution,showUpdateContribution,contributionData,linkData);
                    showCreateContribution=false; showUpdateContribution=false; showLinkingContribution=false; hideReplyButton=false" class="btn btn-default modal-button">Submit</button>

                    </div> 
                </div>

          </div> <!-- modal body ends -->

        </div><!-- single modal - modal-content ends -->

      </div><!-- modal dialog  ng-Repeat ends -->
    
<!--     </div> -->

</div>
