<div class="modal fade">
    <!--     <div class='col-sm-4'>
      <div class="modal-dialog sidebar">
        <div class='modal-content'>
          <p>This is the sub-graph to show the map. It should associate with the scrolling actions in the right canvas.</p>
        </div>
      </div>
    </div> -->

<!--     <div class='col-sm-12 modal-dialog-container'> -->

      <!-- Repeat for every contribution in tree -->

      <div class="modal-dialog" ng-repeat='contribution in contributionTree'> 
        
        <div id="{{ 'modal' + contribution.db_data.id }}" class="modal-content">
          
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click='close()' aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{contribution.db_data.title}}</h4>

          </div>

          <!-- alert -->
          <div class="alert alert-danger" role="alert" id='errorMsg' ng-show='alert.error'>
                  <strong>Oh snap! </strong>{{ alert.errorMsg }}
          </div>

          <div class="alert alert-success" role="alert" id='successMsg' ng-show='alert.success'>
                  <strong>Awesome! </strong>{{ alert.successMsg }}
          </div>   

          <div class="modal-body" ng-hide='alert.success'>

                <!-- Tabs -->
                <div class='row'>
                  <ul class="nav nav-tabs pull-right">
                    <li class="active"><a data-target="{{ '#content' + contribution.db_data.id}}" data-toggle="tab">Content</a></li>
                    <li><a data-target="{{ '#statistics' + contribution.db_data.id}}"  data-toggle="tab">Statistics</a></li>
                    <li><a data-target="{{ '#author' + contribution.db_data.id}}"  data-toggle="tab">Author</a></li>
                    <li ng-if='contribution.db_data.attachments[0].id!=null'><a data-target="{{ '#attachments' + contribution.db_data.id}}"  data-toggle="tab">Attachments</a></li>
                  </ul>
                </div>

                <div class='row tab-content'>

                    <!-- Content -->
                    <div class='tab-pane fade in active' id="{{ 'content' + contribution.db_data.id}}">

                        <!-- content -->
                        <p ng-bind-html="contribution.db_data.body"></p>
                        
                        <br><br>
                    </div>

                    <!-- Data -->
                    <div class='tab-pane fade' id="{{ 'statistics' + contribution.db_data.id}}">
                        
                        <h3>Contribution Data</h3>
                        <h5>Contribution ID: {{contribution.db_data.id}}</h5>

                        <!-- rating -->
                        <h4> Your rating: 
                        <span id='rating' uib-rating ng-model="$parent.rate" max="$parent.max" read-only="false" on-hover="$parent.hoveringOver(value)" on-leave="overStar = null" ng-click='rateContribution($parent.rate, contribution.db_data.id)'></span>
                        <pre style="margin:15px 0;">Rate: <b>{{$parent.rate}}</b> - Hovering over: <b>{{$parent.overStar || "none"}}</b></pre>
                        </h4>

                        <p>Rating: {{contribution.db_data.rating}}</p>
                        <p>Total Rating: {{contribution.db_data.totalRating}}</p>
                        <p>Last Updated: {{contribution.db_data.lastupdated}}</p>
                        <p>Date Created: {{contribution.db_data.dateCreated}}</p>
                        <p>Rate Count: {{contribution.db_data.rateCount}}</p>
                        <p>Number of Views: {{contribution.db_data.views}}</p>
                    </div>

                    <!-- Author -->
                    <div class='tab-pane fade' id="{{ 'author' + contribution.db_data.id}}">
                        <div class='row'>
                          <div class='col-sm-4'>
                            <img src={{users[contribution.db_data.createdBy].avatar}} style='width: 100px; height: 100px;'>
                          </div>
                          <div class='col-sm-8'>
                              <h3>{{ users[contribution.db_data.createdBy].name }}</h3>
                              <p>{{ users[contribution.db_data.createdBy].nusOpenId }}</p>
                              <p>{{user.id}}-{{contribution.db_data.createdBy}}</p>
                          </div>
                        </div>
                    </div>

                    <!-- Attachments - if present -->
                    <div class='tab-pane fade' id="{{ 'attachments' + contribution.db_data.id}}" ng-if='contribution.db_data.attachments[0].id!=null'> 
                        <div class='row'>
                            <div ng-repeat="attachment in contribution.db_data.attachments">
                              <div class='card row'>
                                <div class='col-sm-3 attachment-thumb' style='background-image: url({{getThumb(contribution.db_data.id, attachment.attachment)}});'>
                                </div>
                                <div class='col-sm-9'>
                                  <h3 class='contributionName'>{{attachment.attachment.name}}</h3>
                                  <h6> Size: {{ attachment.attachment.size/1000 }} MB </h6>
                                  <h6><a href="/api/contributions/{{contribution.db_data.id}}/attachments/{{attachment.id}}" target=_blank>Download </a></h6>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>


                </div>

                <!-- Create a new contribution by replying to existing ones -->
                <div class='row editor reply' ng-show='showCreateContribution'>
                    <hr>
                    <label>Replying to the above contribution:</label>
                    <br><br>
                    <!-- Title -->
                    <div class='form-section'>
                      <label> Title </label>
                      <input class='wide' value='Title' ng-model="contributionData.title">
                    </div>
                    <!-- tags -->
                    <div class='form-section'>
                      <label> Tags <small>( {{ contributionData._tags.length || 0 }} tag(s) added) </small></label>
                      <tags-input class='tags-input' class="bootstrap"
                        type='text'
                        ng-model="contributionData._tags"
                        display-property='name'
                        placeholder="Add a tag"
                        replace-spaces-with-dashes="false">
                      <auto-complete source="loadTags($query)"
                                    min-length="0"
                                    debounce-delay="0"
                                    max-results-to-show="10000"
                                    load-on-down-arrow="true"
                                    load-on-focus="true"
                                    template="tags-template"></auto-complete>
                      </tags-input>
                    </div>
                    <!-- Content -->
                    <div class='form-section'>
                      <label> Content </label>
                      <div text-angular ng-model="contributionData.body" class="textAngular"></div>
                    </div>
                    <!-- Relationship -->
                    <div class='form-section'>
                      <label for="singleSelect"> Relationship: </label>
                      <select name="singleSelect" id="singleSelect" ng-model=contributionData.refType>
                        <option ng-repeat="rel in relationships | filter: { src_type: 'contribution', 
                                                target_type: 'contribution'}" 
                                                value={{rel.name}}>{{rel.name}}</option>
                      </select>
                    </div>

                    <!-- attachments -->
                    <div class='form-section'>
                      <label> Attachments <small>({{contributionData.attachments.length}} file(s) uploaded)</small> </label>
                      <div class="button" ngf-select ng-model="contributionData.attachments" ngf-multiple="true">Choose File</div>
                    </div>

                    <!-- selected tags: -->
                    <div class='form-section'>
                      <span><b> Selected tag names:  </b></span> 
                      <span>{{ contributionData }}</span>
                    </div>
                </div>

                <!-- Update existing contributions -->
                <div class='row editor update' ng-show='showUpdateContribution'>
                    <hr>
                    <label>Update the above contribution:</label>
                    <br><br>
                    <!-- Title -->
                    <div class='form-section'>
                      <label> Title </label>
                      <input class='wide' value='Title' ng-model="contributionData.title">
                    </div>
                    <!-- tags -->
                    <div class='form-section'>
                      <label> Tags <small>( {{ contributionData._tags.length || 0 }} tag(s) added) </small></label>
                      <tags-input class='tags-input' class="bootstrap"
                        type='text'
                        ng-model="contributionData._tags"
                        display-property='name'
                        placeholder="Add a tag"
                        replace-spaces-with-dashes="false">
                      <auto-complete source="loadTags($query)"
                                    min-length="0"
                                    debounce-delay="0"
                                    max-results-to-show="10000"
                                    load-on-down-arrow="true"
                                    load-on-focus="true"
                                    template="tags-template"></auto-complete>
                      </tags-input>
                    </div>
                    <!-- Content -->
                    <div class='form-section'>
                      <label> Content </label>
                      <div text-angular ng-model="contributionData.body" class="textAngular"></div>
                    </div>
                     <!--Relationship 
                    <div class='form-section'>
                      <label for="singleSelect"> Relationship: </label>
                      <select name="singleSelect" id="singleSelect" ng-model=contributionData.refType>
                        <option ng-repeat="rel in relationships | filter: { src_type: 'contribution', 
                                                target_type: 'contribution'}" 
                                                value={{rel.name}}>{{rel.name}}</option>
                      </select>
                    </div>-->

                    <!-- attachments -->
                    <div class='form-section'>
                      <label> Attachments <small>({{contributionData.attachments.length}} file(s) uploaded)</small> </label>
                      <div class="button" ngf-select ng-model="contributionData.attachments" ngf-multiple="true">Choose File</div>
                    </div>
                    
                    <!-- selected tags: -->
                    <div class='form-section'>
                      <span><b> Selected tag names:  </b></span> 
                      <span>{{ contributionData }}</span>
                    </div>
                </div>

                <!-- Add cross links -->
                <div class='row editor Linking' ng-show='showLinkingContribution'>
                    <hr>
                    <label> Link the above contribution to others:</label>
                    <br><br>
                    <!-- Set the current Contribution: -->
                    <div class='form-section'>
                      <label for="singleSelect"> The current contribution is </label>
                      <select name="singleSelect" id="singleSelect" ng-model=linkData.currentContributionType>
                        <option value='source'>source</option>
                        <option value='target'>target</option>
                      </select>
                    </div>
                    <!-- Set the Relationship: -->
                    <div class='form-section'>
                    <label for="singleSelect"> Relationship: </label>
                    <select name="singleSelect" id="singleSelect" ng-model=linkData.relationshipName>
                      <option ng-repeat="rel in relationships | filter: { src_type: 'contribution', 
                                              target_type: 'contribution'}" 
                                              value={{rel.name}}>{{rel.name}}</option>
                    </select>
                    </div>
                    <!-- Set the final linked contribution: -->
                    <div class='form-section'>
                      <label>The new linked contribution is:</label>
                      <label for="singleSelect" ng-show="linkData.currentContributionType == 'source'"> Target </label>
                      <label for="singleSelect" ng-show="linkData.currentContributionType == 'target'"> Source </label>
                      <select name="singleSelect" id="singleSelect" ng-model="linkData.linkedtoContributionId">
                        <option ng-repeat="tmp in contributions" value={{tmp.id}}>{{tmp.title}} ({{tmp.id}})</option>
                      </select>
                    </div>
                </div>
          </div>

          <div class='modal-footer'>
              <div class='col-sm-12'>
                <center>
                  <div ng-hide='hideReplyButton || alert.success'>
                  <button type="button" ng-click="showCreateContribution=true; hideReplyButton=true; contributionData={};contributionData.tags=[];contributionData.ref=contribution.db_data.id" class="btn btn-default modal-button">Reply</button>
                  <button type="button" ng-click="showLinkingContribution=true; hideReplyButton=true; linkData={}; linkData.currentContributionId=contribution.db_data.id" class="btn btn-default modal-button">Link</button>
                  <button type="button" ng-click="showUpdateContribution=true; hideReplyButton=true; contributionData=contribution.db_data; contributionData._tags = contributionData.tags;" class="btn btn-default modal-button"
                  ng-show="(user.id == contribution.db_data.createdBy)">Update</button>
                  <button type="button" ng-click="deleteContribution(contribution.db_data.id)" class="btn btn-default modal-button"
                  ng-show="(user.id == contribution.db_data.createdBy)" data-dismiss='modal'>Delete</button>
                  </div>
                  <div ng-show='hideReplyButton && !alert.success'>
                    <button type="button" ng-click="submitContribution(showCreateContribution,showLinkingContribution,showUpdateContribution,contributionData,linkData);
                    showCreateContribution=false; showUpdateContribution=false; showLinkingContribution=false; hideReplyButton=false" class="btn btn-default modal-button">Submit</button>
                    <button type="button" ng-click="showCreateContribution=false; showUpdateContribution=false; showLinkingContribution=false; hideReplyButton=false" class="btn btn-default modal-button">Cancel</button>
                  </div>
                  <button type="button" class="btn btn-default modal-button" ng-show='alert.success' data-dismiss='modal' ng-click='close()'>Close</button>
                </center>
              </div>
          </div>

        </div><!-- single modal - modal-content ends -->

      </div><!-- modal dialog  ng-Repeat ends -->
    
<!--     </div> -->

</div>
