<!-- Stylesheet for graph -->
<link rel='stylesheet' href='./stylesheets/graph-style.css' />

<!--Top Nav Bar -->
<ng-include src="'templates/top-navbar.html'"></ng-include>

<!--Side Nav Bar with Filters-->
<ng-include src="'templates/filters.html'"></ng-include>

<!-- div to host the information panel on hover -->
<div id='content-block-hover'></div>


<!-- actual graph container -->
<div class='graph-container'>


  
  <div class='graph-controls'>
    <img class='graph-nav-control zoom-extents' src='./img/expand.svg' ng-click='resetGraph()'/>
  </div>

    <div id='cy'></div>
   
</div>


<!-- Modal -->
<ui-view></ui-view>

<!-- create a contribution -->
<div class="btn-floating" id="help-actions">
  <div class="btn-bg"></div>
  <button type="button" class="btn btn-default btn-toggle" data-toggle="toggle" data-target="#help-actions">
    <i class="icon fa fa-plus"></i>
    <span class="help-text">Create a contribution</span>
  </button>
  <div class="toggle-content">
    <ul class="actions">
      <li><a href="#">Website</a></li>
      <li><a href="#">Documentation</a></li>
      <li><a href="#">Issues</a></li>
      <li><a href="#">About</a></li>
    </ul>
  </div>
</div>


<!-- include graph js -->
<script src="./javascripts/graphs/graph-creator.js"></script>






