<div id="profileModal" class="modal fade" role="dialog" ng-controller='ProfileCtrl as profilectrl' ng-init='computeStats()'>
  
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

        <!-- <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click='close()' aria-hidden="true">&times;</button>
            <h5 class="modal-title">Your Profile</h5>
        </div> -->

        <div class="modal-body">

            <div class='profile-container'>

                <!-- Profile Details -->
                <div class='row profile-header'>
                  
                  <div class='col-xs-7 profile-details-container no-margin-padding'>
                        <h5 class='username no-margin-padding'>{{ user.name }}</h4>
                        <h6 class='tagline'>Last Logged In: {{user.lastLoggedIn | date: 'medium'}}</h6>

                        <br>

                        <h6 class='stat-name no-margin-padding'>Total Views:  <b>{{views}}</b> </h6>
                        <h6 class='stat-name no-margin-padding'>Average Rating:  <b>{{ isNaN (rating) ? "No Rating" : rating }}</b> </h6>
                        <h6 class='stat-name no-margin-padding'>Level:  <b>{{level}}</b> </h6>
                  </div>

                  <div class='col-xs-3 profile-img-container' style='background: url({{user.avatar}})'></div>

                </div>


                <div uib-accordion class="accordion"> 
                   
                    <div uib-accordion-group class='profile-item-container'>
                      <uib-accordion-heading> 
                          <h5>Nodes</h5>
                      </uib-accordion-heading>
                      
                      <div class='col-sm-12'  ng-repeat="contribution in user.contributions | orderBy : '-views' ">
                          <div class='profile-item'>
                            <div class='row'>
                              <div class='col-sm-6'>
                                <h6><a href='/user/#/contributions/{{contribution.id}}' target=_blank> {{ contributionsRef[ contribution.id ].title }} </a></h6>
                              </div>
                              <div class='col-sm-3'>
                                <h6>{{ contribution.views }} views</h6>
                              </div>
                              <div class='col-sm-3'>
                                <h6>Rating: {{ contribution.rating }} from {{ contribution.rateCount }} ratings</h6>
                              </div>
                            </div>
                          </div>
                      </div>

                    </div>

                    <div uib-accordion-group class='profile-item-container'>
                        <uib-accordion-heading> 
                          <h5>Tags</h5>
                        </uib-accordion-heading>
                        <div class='col-sm-12' ng-repeat="tag in tags | filter: {createdBy : user.id}">
                            <div class='profile-item'>
                              <div class='row'>
                                <div class='col-sm-6'>
                                  <h6>{{tag.name }}</h6>
                                </div>
                                <div class='col-sm-6'>
                                  <h6>{{ tag.contributionCount }} nodes with this tag</h6>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class='row text-right modal-section'>
                  <button type="button" class="btn btn-default modal-button" ng-disabled="true">Edit Groups</button>
                  <button type="button" class="btn btn-default modal-button" ng-click='profilectrl.profileEdit=true' ng-hide="profilectrl.profileEdit">Edit Profile</button>
                  <button type="button" class="btn btn-default modal-button"><a href='/logout'>Logout</a></button>
                  <button type="button" class="btn btn-default modal-button" data-dismiss='modal' ng-click='close()'>Close</button>
                </div>

            </div> 

        </div>

    </div>

    <ng-include src="'./templates/editProfile.html'"></ng-include>

  </div>

</div>

<link rel="stylesheet" href="/user/stylesheets/profile.css">


