<style>
/*
.no-margin-padding{
  margin: 0px !important;
  padding: 0px !important;
}

.padding{
  padding: 10px 0px !important;
}

.full-height{
  height: 100%;
}


.full-width{
  width: 100% !important;
}
*/
/*.profile-header{
  min-height: 150px;
  width: 100%;
  padding: 0px 0p 
  background-color: #FFFFFF !important;

  color: #444444 !important;
}*/

.profile-img-container{
  border-radius: 0px; 
  border: 1px solid #BAB8B8;
  background-size: cover !important;
  background-position: center !important;

  max-width: 125px; 
  max-height: 125px;
}

.profile-details-container{
  height: 100%; 
  margin-left: 40px !important;
}


h5.tagline{
  color: #444444;
}

.lastlogged{
  font-size: 10px
}

.stat{
  //border-right: 1px solid #DDDADA;
}

.stat-name{
  font-weight: 600;
}

.stat-value{

}

.profile-tabs-nav{
  position: fixed;
  height: 60px !important; 
  border: 0px;
}

.profile-tab{
  text-align: center;
}

.profile-body{
  overflow-y: hidden;
}

.profile-tab-content{
  margin-top: 60px !important; 
  height: 100%; 
  max-height: 80%;
  overflow-y: auto !important;
  background-color: #FFFFFF;
}

.profile-tab-pane{
  height: 100%; 
}

.hover-effect:hover{
  background-color: #BBBBBB;
}

</style>


<div class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      
        <div class="modal-header">
              <h4 class="modal-title">Your Profile</h4>
              <button type="button" class="close profile-close" data-dismiss="modal" ng-click='close()' aria-hidden="true">&times;</button>
        </div>

        <div class="modal-body">

            <div class='editor'>

                <div class='row no-margin-padding'>
                  
                  <div class='col-xs-3 profile-img-container' style='background: url({{user.avatar}})'></div>

                  <div class='col-xs-7 profile-details-container no-margin-padding'>
                    
                    <div class='row no-margin-padding'>
                        <h4 class='username no-margin-padding'>{{ user.name }}</h4>
                        <h6 class='tagline'>Last Logged In: {{user.lastLoggedIn | date: 'medium'}}</h6>
                    </div>
                    
                    <br>

                    <div class='col-sm-4  no-margin-padding stat'>              
                        <h6 class='stat-name no-margin-padding'>Total Views</h6>
                        <small class='stat-value'>{{views}}</small>
                    </div>

                    <div class='col-sm-4  no-margin-padding stat'>              
                        <h6 class='stat-name no-margin-padding'>Average Rating</h6>
                        <small class='stat-value'>{{rating}}</small>
                    </div>

                    <div class='col-sm-4  no-margin-padding stat'>              
                        <h6 class='stat-name no-margin-padding'>&nbsp;&nbsp;&nbsp;Level</h6>
                        <small class='stat-value'>&nbsp;&nbsp;&nbsp;{{level}}</small>
                    </div>

                  </div>
                </div>

                <!--tabs -->
                <div class='profile-tabs-nav no-margin-padding pull-right'>
                  <ul class="nav nav-tabs">
                    <li class='profile-tab active'><a data-target="#contributions"  data-toggle="tab">Contributions</a></li>
                    <li class='profile-tab'><a data-target="#tags"  data-toggle="tab">Tags</a></li>
                    <li class="profile-tab"><a data-target="#activity" data-toggle="tab">Groups</a></li>
                  </ul>
                </div>

                <!-- tab content-->
                <div class='tab-content no-margin-padding profile-tab-content'>

                    <div class='tab-pane profile-tab-pane fade in active' id="contributions">
                        <div class='col-sm-12 hover-effect' ng-repeat="contribution in user.contributions | orderBy : '-views' ">
                          <h5><a href='/user/#/contributions/{{contribution.id}}' target=_blank>{{ contributionsRef[ contribution.id ].title }}</a></h5>
                          <small>Views: {{ contribution.views }} &nbsp;&nbsp;Rating: {{ contribution.rating }} from {{ contribution.rateCount }} ratings</small>
                          <hr/>
                        </div>
                    </div>

                    <div class='tab-pane profile-tab-pane fade in' id="tags">
                        <div class='col-sm-12 hover-effect' ng-repeat="tag in tags | filter: {createdBy : user.id}">
                          <h5>{{ tag.name }}</h5>
                          <small>Number of Contributions with this tag: {{ tag.contributionCount }}</small>
                          <hr/>
                        </div>
                    </div>

                    <!-- Content -->
                    <div class='tab-pane profile-tab-pane fade in' id="activity">

                        <button class='btn btn-default' ng-click='createGroup()'><i class="icon fa fa-pencil"></i>Create a New Group</button>

                        <div class='col-sm-12 hover-effect' ng-repeat="group in groups | orderBy: 'requestingUserStatus' ">
                          <small>{{group.requestingUserStatus ? group.requestingUserStatus : "Not a Member of this group"}}</small>
                          <h5>{{ group.name }}</h5>
                          <p>{{ group.description }} </p>
                          <h6 class='tagline'>Joined On: {{group.joinedOn | date: 'medium'}}</h6>
                          <i class="icon fa fa-users" ng-if='group.requestingUserStatus="Admin"'></i> 
                          <i class="icon fa fa-remove" ng-if='group.requestingUserStatus="Admin"'></i> 
                          <i class="icon fa fa-user-times" ng-if='!group.requestingUserStatus="Member"'></i> 
                          <i class="icon fa fa-user-plus" ng-if='!group.requestingUserStatus'></i> 
                          <hr/>
                        </div>

                    </div>
                </div>

            </div> 


        </div>

        <div class="modal-footer">
          <center>
          <button type="button" class="btn btn-default modal-button" ng-click='editProfile()'>Edit Profile</button>
          <button type="button" class="btn btn-default modal-button" data-dismiss='modal' ng-click='close()'>{{ alert.success ? "Close" : "Cancel" }}</button>
          </center>
        </div>

    </div>

  </div>
</div>


