<style>
.profile-img-container{
  border-radius: 0px; 
  border: 1px solid #BAB8B8;
  background-size: cover !important;
  background-position: center !important;

  width: 150px; 
  height: 150px;

  max-width: 150px; 
  max-height: 150px;

  margin-left: 40px;
}

.profile-details-container{
  height: 100%; 
  margin-left: 20px !important;
}


h5.tagline{
  color: #444444;
}

.profile-tab{
  text-align: center;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 20px;
}

.profile-tab-content{
  width: 100%; 
  margin-top: 60px !important; 
  height: 100%; 
  max-height: 80%;
  overflow-y: auto !important;

  font-size: 12px;
}

p.details{ 
  line-height: 35px;
}

.hover-effect:hover{
  background-color: #BBBBBB;
}

</style>


<div id="profileModal" class="modal fade" role="dialog" ng-controller='ProfileCtrl' ng-init='computeStats()'>
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" ng-click='close()' aria-hidden="true">&times;</button>
            <h4 class="modal-title">Your Profile</h4>
        </div>

        <div class="modal-body">

            <div class='editor'>

                <!-- Profile Details -->
                <div class='row'>
                  <div class='col-xs-3 profile-img-container' style='background: url({{user.avatar}})'></div>
                  <div class='col-xs-7 profile-details-container no-margin-padding'>
                        <h4 class='username no-margin-padding'>{{ user.name }}</h4>
                        <h6 class='tagline'>Last Logged In: {{user.lastLoggedIn | date: 'medium'}}</h6>
                        <hr>
                        <h6 class='stat-name no-margin-padding'>Total Views:  <b>{{views}}</b> </h6>
                        <h6 class='stat-name no-margin-padding'>Average Rating:  <b>{{rating}}</b> </h6>
                        <h6 class='stat-name no-margin-padding'>Level:  <b>{{level}}</b> </h6>
                  </div>
                </div>


                <hr/>

                <!--tabs -->
                <div class='profile-tabs-nav no-margin-padding pull-right'>
                  <ul class="nav nav-tabs">
                    <li class='profile-tab active'><a data-target="#contributions"  data-toggle="tab">Contributions ({{ contributions.length }}) </a></li>
                    <li class='profile-tab'><a data-target="#tags"  data-toggle="tab">Tags ({{ tags.length  }})</a></li>
                    <li class="profile-tab"><a data-target="#activity" data-toggle="tab">Groups ({{ groups.length }}) </a></li>
                  </ul>
                </div>

                <!-- tab content-->
                <div class='tab-content no-margin-padding profile-tab-content'>

                    <div class='tab-pane profile-tab-pane fade in active' id="contributions">
                        <div class='col-sm-12 hover-effect' ng-repeat="contribution in user.contributions | orderBy : '-views' ">
                          <div class='col-sm-4'>
                            <h5><a href='/user/#/contributions/{{contribution.id}}' target=_blank>{{ contributionsRef[ contribution.id ].title }}</a></h5>
                          </div>
                          <div class='col-sm-8'>
                            <p class='details'>Views: {{ contribution.views }} | Rating: {{ contribution.rating }} from {{ contribution.rateCount }} ratings</p>
                          </div>
                        </div>
                    </div>

                    <div class='tab-pane profile-tab-pane fade in' id="tags">
                        <div class='col-sm-12 hover-effect' ng-repeat="tag in tags | filter: {createdBy : user.id}">

                          <div class='col-sm-5'>
                            <h5>{{ tag.name }}</h5>
                          </div>
                          <div class='col-sm-7'>
                             <p class='details'>Number of Contributions: {{ tag.contributionCount }}</p>
                          </div>
                          
                        </div>
                    </div>

                    <!-- Content -->
                    <div class='tab-pane profile-tab-pane fade in' id="activity">

                        <button class='btn btn-default' ng-click='createGroup()'><i class="icon fa fa-pencil"></i>New Group</button>

                        <div class='col-sm-12 hover-effect' ng-repeat="group in groups | orderBy : 'requestingUserStatus' ">
                          <hr>
                          <div class='col-sm-8'>
                            <h5>{{ group.name }}</h5>
                            {{ group.description.substr(0, 100) + "..." }}
                          </div>
                          <div class='col-sm-4'>
                              <small>Role: {{ group.requestingUserStatus ? group.requestingUserStatus : "--"}}</small>
                              <h6 class='tagline' ng-if='group.requestingUserStatus!=null'>Joined On: {{group.joinedOn | date: 'medium'}}</h6>
                              <br>
                              <i class="icon fa fa-users" ng-if='group.requestingUserStatus=="Admin"'></i> 
                              <i class="icon fa fa-remove" ng-if='group.requestingUserStatus=="Admin"'></i> 
                              <i class="icon fa fa-user-times" ng-if='!group.requestingUserStatus=="Member"'></i> 
                              <i class="icon fa fa-user-plus" ng-if='!group.requestingUserStatus'></i> 
                          </div>

                        </div>

                    </div>
                </div>

            </div> 


        </div>

        <div class="modal-footer">
          <center>
          <button type="button" class="btn btn-default modal-button" ng-click='editProfile()'>Edit Profile</button>
          <button type="button" class="btn btn-default modal-button" ng-click='createNewGroup()'>New Group</button>
          <button type="button" class="btn btn-default modal-button" data-dismiss='modal' ng-click='close()'>{{ alert.success ? "Close" : "Cancel" }}</button>
          </center>
        </div>

    </div>

  </div>
</div>


