<div>

      <h5>Contribution ID: {{contribution.db_data.id}}</h5>
      <p>Number of Views: {{contribution.db_data.views}}</p>
      <p>Average Rating : {{contribution.db_data.rating}} / {{contribution.db_data.rateCount}}</p>
      <p>Rating Array: {{contribution.db_data.ratingArray}}</p>
      <p>Number of Ratings: {{contribution.db_data.rateCount}}</p>
      <p>Last Updated: {{contribution.db_data.lastupdated}}</p>
      <p>Date Created: {{contribution.db_data.dateCreated | date: 'longDate'}}</p>

</div>