<!-- top nav -->
<nav class="navbar navbar-default" id="navbar">
  <div class="container-fluid">
    <div class="navbar-collapse collapse in">
      <ul class="nav navbar-nav navbar-mobile">
        <li>
          <button type="button" class="sidebar-toggle">
            <i class="fa fa-bars"></i>
          </button>
        </li>
        <li class="logo">
          <a class="navbar-brand" href="#"><span class="highlight">Studionet</span></a>
        </li>
        <li>
          <div class='icon'>
            <button type="button" class="navbar-toggle">
              <img class="profile-img" src="../template/html/assets/images/profile.png">
            </button>
          </div>
        </li>
      </ul>

      <ul class="nav navbar-nav navbar-left">
        <li class="navbar-title"><a href='#'>Studionet</a></li>
      </ul>

      <ul class="nav navbar-nav navbar-right" id="noDropdown" >
        <li class="dropdown notification warning">
          <a class="dropdown-toggle" data-toggle="modal" data-target="#profileModal" data-backdrop="static" data-keyboard="false" uib-tooltip='My Profile' tooltip-placement='left'>
            <div class="icon"><i class="fa fa-user" aria-hidden="true"></i></div>
            <div class="title">Profile</div>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


