<script type="text/javascript" src="../user/javascripts/graphs/graph-helper.js"></script>

<!-- Stylesheet for graph -->
<link rel='stylesheet' href='./stylesheets/graph-style.css' />

<!-- Include the Modal Templates -->
<ng-include src="'templates/createGroupModal.html'" ng-controller='CreateGroupCtrl'></ng-include>
<ng-include src="'templates/viewGroupModal.html'" ng-controller='ViewGroupCtrl'></ng-include>
<ng-include src="'templates/editGroupModal.html'" ng-controller='EditGroupCtrl'></ng-include>

<!-- actual graph container -->
<div class='graph-container'>

  <div id='user-graph'></div>
  
  <div class='graph-controls'>
    <!-- reset graph -->
    <i class="graph-nav-control icon fa fa-expand" ng-click='resetGraph()'></i>

    <!-- create a contribution -->
    <i class="graph-nav-control icon fa fa-plus" ng-click='createGroup()'></i>
  </div>
   
</div>








