<!--- Profile page of the user -->
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body app-heading">
        <img class="profile-img" src={{user.avatar}}></button>
        <div class="app-title">
          <div class="title">
            <span class="highlight"><input ng-model='user.name' style='border: none;' ng-keypress='changeName($event)'></span>
          </div>
          <br>
          <p><strong>NUSOpenID: </strong>{{user.nusOpenId}}</p>
          <p><strong>Last Logged In: </strong>{{user.lastLoggedIn | date: 'medium'}}</p>
        </div>
        <button class='btn btn-link pull-right edit-button' data-toggle="modal" data-target="#changeAvatar">
          <i class='fa fa-pencil'></i>
        </button>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
          <p><strong>Contribution Views: </strong>{{user.nusOpenId}}</p>
          <p><strong>Contribution Likes </strong>{{user.lastLoggedIn | date: 'medium'}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-3">
    <div class="card">
      <div class="card-body">
          <p><strong>Contribution Views: </strong>{{user.nusOpenId}}</p>
          <p><strong>Contribution Likes </strong>{{user.lastLoggedIn | date: 'medium'}}</p>
      </div>
    </div>
  </div>
</div>

<div class='row'>
  <div class="col-sm-12">
  <uib-accordion close-others="true">
    <div uib-accordion-group class="panel-default" heading="My Groups ({{groups.length}})" is-open="true">
        <ul ng-repeat="group in groups">
          <li>{{group.name}}</li>
        </ul>
    </div>
    <div uib-accordion-group class="panel-default" heading="My Contributions ({{contributions.length}})">
        <ul ng-repeat="contribution in contributions">
          <li>{{contribution.name}}</li>
        </ul>
    </div>
    <div uib-accordion-group class="panel-default" heading="My Tags ({{10}})">
        <ul ng-repeat="contribution in contributions">
          <li>{{contribution.name}}</li>
        </ul>
    </div>
    <div uib-accordion-group class="panel-default" heading="My Filters ({{10}})">
        <ul ng-repeat="contribution in contributions">
          <li>{{contribution.name}}</li>
        </ul>
    </div>
  </uib-accordion>
  </div>
</div>



<!--- Edit User Modal -->
<div class="modal fade" id="changeAvatar" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">Change your Avatar</h4>
      </div>

      <div class="modal-body">
        <div class='row'>
          <div class="col-xs-12">
                  <form name="myForm">
                    <fieldset>
                      <legend>Upload avatar</legend>
                      <br>Avatar:
                      <input type="file" ngf-select ng-model="picFile" name="avatar"    
                             accept="image/*" ngf-max-size="2MB" required
                             ngf-model-invalid="errorFile">
                      <i ng-show="myForm.file.$error.required">*required</i><br>
                      <i ng-show="myForm.file.$error.maxSize">File too large 
                          {{errorFile.size / 1000000|number:1}}MB: max 2M</i>
                      <img ng-show="myForm.file.$valid" ngf-thumbnail="picFile" class="thumb"> <button ng-click="picFile = null" ng-show="picFile">Remove</button>
                      <br>
                      <button ng-disabled="!myForm.$valid" 
                              ng-click="uploadPic(picFile)">Submit</button>
                      <span class="progress" ng-show="picFile.progress >= 0">
                        <div style="width:{{picFile.progress}}%" 
                            ng-bind="picFile.progress + '%'"></div>
                      </span>
                      <span ng-show="picFile.result">Upload Successful</span>
                      <span class="err" ng-show="errorMsg">{{errorMsg}}</span>
                    </fieldset>
                    <br>
                  </form>
          </div>
        </div>
      </div>
     </div>
  </div>
</div>



