<!--- View Modal -->
<div class="modal fade" id="viewGroupModal" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">

      <div class="modal-header">
        <h4 class="modal-title">{{activeGroup.name}}</h4>
        
        <!-- Admin Fn -->
        <button class='btn btn-link pull-right edit-button' data-toggle="modal" data-target="#editModal" data-dismiss="modal" ng-if='activeElement.role=="Admin"'>
          <i class='fa fa-pencil'></i>
        </button>
        
        <button class='btn btn-link pull-right edit-button' data-dismiss="modal">
          <i class='fa fa-close'></i>
        </button>

      </div>

      <div class='modal-body'>

        <!-- alert -->
        <div class="alert alert-danger" role="alert" id='errorMsg' ng-show='error'>
                <strong>Oh snap! </strong> {{error.Msg}}
            </div>

        <div class="alert alert-success" role="alert" id='successMsg' ng-show='success'>
                <strong>Awesome! </strong> {{success.Msg}}
        </div>  
        <uib-tabset active="active">
              <uib-tab index="0" heading="About the group">
                      <p>Description: {{ activeGroup.description }}</p>
                      <p>CreatedBy : {{ activeGroup.createdBy }}</p>
                      <p>Restricted: {{ activeGroup.restricted }}</p>
                      <p>User Count: {{ activeGroup.numUsers }}</p>
                      <p>Parent Id: {{ activeGroup.parentId }}</p>
              </uib-tab>
              
              <uib-tab index="1" heading="Members">
                  <div class='height-400'>
                      <div class='row user-row' ng-repeat='user in users'>
                        <div class='col-sm-2'><img class='user-avatar' src={{user.avatar}}></div>
                        <div class='col-sm-4 user-list-name'>{{user.name}}</div>
                        <div class='col-sm-2'>{{user}}</div>
                      </div>
                  </uib-tab>
              </uib-tab>
        </uib-tabset>
      </div>


      
      <!-- footer -->
      <div class='modal-footer'>
            
            <div class='button-group' id='groupSuccess' ng-show='active==0'>
                <!-- buttons -->

                <!-- Subgroup -->
                <button type="button" class="btn btn-default modal-button" data-dismiss="modal" ng-if='!restricted || (restricted && requestingUserStatus)'>Create Subgroup</button>

            </div>

            <div class='button-group' id='groupSuccess' ng-show='active==1'>
                <!-- buttons -->

                <!-- Join -->
                <button type="button" class="btn btn-default modal-button" ng-if='requestingUserStatus == undefined'>Join</button>

                <!-- Leave -->
                <button type="button" class="btn btn-default modal-button" ng-if='requestingUserStatus == "Member"'>Leave</button>
                
            </div>
      
      </div>


    </div>
  </div>
</div>

