/*
 * General Styling for all Modals
 */

.modal{
  width: 70% !important;
  margin-left: 15% !important;  
  overflow-y: hidden !important;
}

.modal-dialog{
  padding: 0px !important;

}

.modal-content{
  overflow-y: hidden !important;
}


.modal-body{
    overflow: auto !important;
    max-height: 800px;
}

.editor{
  max-height: 100%;
}

.createContribution{
    width: 70% !important;
    margin-left: 15% !important; 
}


.viewContribution{
    width: 70% !important; 
    margin-left: 15% !important;  
}


.wide{
  width: 100% !important;
}

/*
 * Modal Header
 */
.modal-header{
    height: 45px;
    line-height: 25px; 
}

.close{ 
    line-height: 25px;
}

h4.modal-title{
    line-height: 25px;
    font-size: 16px !important; 
}

/*
 * Modal Body
 */

select, input{
	width: 300px;
}

select.tag-list{
	height: 250px; 
    width: 400px;
	/*margin-bottom: 10px;*/
}

input.addTag{
    width: 250px; 
    /*margin-left: 5px;*/
    margin-right: 10px;
}

.modal-backdrop {
   background-color: rgba(0,0,0,0.2);
}

.modal-backdrop .in {
    opacity: 0.9 !important;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

#rating .glyphicon{
    font-size: 20px;
    line-height: 20px;
} 


.close{
  line-height: 45px;
}

.modal-header{
  text-align: left !important;
  padding 0px 30px !important;
}

.modal-footer{
  height: 60px !important;
  line-height: 45px;
  padding: 5px !important;
}

.modal-button{
  margin: 0px !important;
  min-width: 150px;
  height: 100% !important;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}

.textAngular .btn-default{
  padding: 0px !important;
}

.textAngular .btn-group{
  display: inline-block;
}

.ta-editor.ta-html, .ta-scroll-window.form-control{
  max-height: 300px;
}

tags-input .tags{
  max-height: 35px;
  overflow-y: auto;
}

.textAngular .btn-toolbar{
  padding: 0px !important;
}

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group{
  margin-left: 0px !important;
}