/*
 * General Styling for all Modals
 */


.modal-backdrop {
   background-color: rgba(0,0,0,0.2);
}

.modal-backdrop .in {
    opacity: 0.9 !important;
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
} 

.modal{
  width: 70% !important;
  margin-left: 15% !important;  
  overflow-y: hidden !important;
}

.modal-dialog{
  padding: 0px !important;

}

.modal-content{
  overflow-y: hidden !important;
}


.createContribution{
    width: 70% !important;
    margin-left: 15% !important; 
}


.viewContribution{
    width: 70% !important; 
    margin-left: 15% !important;  
}


.wide{
  width: 100% !important;
}

/*
 * Modal Header
 */
.modal-header{
    height: 45px;
    padding: 10px 30px 10px 30px !important;
  }

.close{ 
    line-height: 25px !important;
}

h4.modal-title{
    line-height: 25px;
    text-align: center !important;
    font-size: 16px !important; 
}

/*
 * Modal Body
 */


.modal-body{
    overflow: hidden !important;
    max-height: 70%;
    padding: 0px !important;
}

.editor{
   padding: 10px 30px !important;
   max-height: 700px;
   overflow-y: auto !important;
}

.form-section{
  margin: 10px 0px;
}

input{
	width: 300px;
  display: inline-block;
}


#rating .glyphicon{
    font-size: 20px;
    line-height: 20px;
} 

.modal-footer{
  height: 60px !important;
  line-height: 45px;
  padding: 5px !important;
}

.modal-button{
  margin: 0px !important;
  min-width: 150px;
  height: 100% !important;
  font-size: 15px;
  font-family: 'Roboto Condensed', sans-serif;
}



// textAngular
.ta-editor.ta-html, .ta-scroll-window.form-control{
  max-height: 300px;
}

.textAngular .btn-default{
  padding: 0px !important;
}

.textAngular .btn-group{
  display: inline-block;
}


.textAngular .btn-toolbar{
  padding: 0px !important;
}

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group{
  margin-left: 0px !important;
}

tags-input .tags{
  max-height: 35px;
  overflow-y: auto;
}
