.modal {
    width: 100%;

}

.modal-dialog {
    width: 100%;
    margin: 20px 0px 50px 0px;
    padding-right: 20px;
}

.sidebar{
    width: 100%;
    margin: 20px 0px 0px 0px;
    position: fixed;
    width: 300px;
    height: 200px;
}

.modal h3{

    font-size: 14px;
    font-weight: bold;
    line-height: 20px;
    text-transform: uppercase;
    
    margin: 0px;
    padding: 0px;

    display: inline-block;
}

.modal span{
    font-size: 12px;
    font-style: italic;
    line-height: 20px;
    text-transform: none;
}

.modal-dialog-container{
    height: 1000px;
    overflow-y: auto;
    overflow-x: hidden;
}

.modal-header{
    text-align: center;
}

select, input{
	width: 300px;
}

input.wide{
	width: 450px;
}

select.tag-list{
	height: 250px; 
    width: 400px;
	/*margin-bottom: 10px;*/
}

input.addTag{
    width: 250px; 
    /*margin-left: 5px;*/
    margin-right: 10px;
}

.modal-backdrop {
   background-color: rgba(0,0,0,0.2);
}

.modal-backdrop .in {
    opacity: 0.9 !important;
}
