/*
 *	Graph Filters 
 */

 #filters{
 	position: fixed;
 	top: 50px;
 	width: 80%;
 	padding: 5px 5px;
 	background-color: #E3E8EE;

 	z-index: 4;
 	margin-left: 10% !important;
 }

.filter-panel{
	background-color: #F8F8F8;
	margin-bottom: 0px !important;
}


.filter-heading{
	cursor: pointer;
	line-height: 30px;
}

.panel-heading{
	background-color: #F8F8F8 !important;
}

.panel-group .panel{
	border-radius: 0px !important;
}

div.tree-control{
	height: 100%; 
	overflow: auto; 
	border-radius: 0px;
}

/* */
div.tree-control .tree-view{
	max-height: 60vh;
	overflow: scroll;
	margin-left: -15px;
}

div.tree-control .tree-view ul .tree-checkbox{
	max-width: 14px;
    margin: 0px 15px 0px 0px !important;
    height: 20px;
    width: 20px;
}

div.tree-control .tree-view li{
	margin-left: 15px !important;
	min-width: 350px;
}

.tree-control .tree-view ul .item-details{
	font-size: 14px; 
	line-height: 22px;
}

input[type="checkbox"] .tree-checkbox{
  width: 30px; /*Desired width*/
  height: 30px; /*Desired height*/
}


.tree-control .clear-button{
	top: 3px;
}

.filter-panel input{
	padding-left: 5px;
	width: 100%;
}
/* */

.tree-control .tree-view ul{
	//max-height: 15vh;
}

/*
 *
 *	For the slider
 * 
 */
.ranger{
	border-radius: 0px !important;
}

.ranger-marker{
	width: 20px !important; 
	height: 20px !important;
}

.filter-element-count{
	font-size: 12px;
	border: 1px solid black;
	padding: 0px 2px;

	float: right;
}

.filter-btn{
	color: #4A95EF;
	text-align: center;
	background-color: white;
	width: 30px; 
	height: 30px;
	line-height: 30px !important;
	border-radius: 50% !important;
	margin: 2.5px 10px !important;
	padding: 0px !important;
}
.align-right{
	float: right;
} 


#searchTextResults{
	margin-left:-50px;
}

.subgroups{
	margin-left: 20%;
}
