/*
 *	Graph Filters 
 */
 #searchTextResults{
 	margin-left:-50px;
 }

 .subgroups{
 	margin-left: 20%;
 }



 /*** Other Css ***/

.filter-heading{
	cursor: pointer;
	line-height: 30px;
}

div.tree-control{
	height: 100%; 
	overflow: auto; 
	border-radius: 0px;
}

/* */
div.tree-control .tree-view{
	max-height: 30vh;
	overflow: scroll;
}

div.tree-control .tree-view ul .tree-checkbox{
	max-width: 8px;
}

div.tree-control .tree-view li{
	margin-left: 25px !important;
	min-width: 350px;
}

.filter-panel input{
	padding-left: 5px;
	width: 100%;
}
/* */

.tree-control .tree-view ul{
	//max-height: 15vh;
}

/*
 *
 *	For the slider
 * 
 */
.ranger{
	border-radius: 0px !important;
}

.ranger-marker{
	width: 20px !important; 
	height: 20px !important;
}

.filter-element-count{
	font-size: 12px;
	border: 1px solid black;
	padding: 0px 2px;

	float: right;
}

.filter-btn{
	background-color: #C4C2C2;
	text-align: center;
}

.panel{
	z-index: 20;
}