/*
 * Graph CSS
 */

.graph-container{
  position: relative;
  height: 100% !important;
  margin-top: 50px;
  z-index: 1;
}

#cy {

  position: absolute;
  margin-top: 0px;
  height: calc( 100vh - 50px); // remove for topbar & filters
  //height: auto;
  min-height: calc( 100vh - 100px);
  width: 100%;

  z-index: 2;

}


#user-graph {

  position: absolute;

  height: calc( 100vh - 50px); // remove for topbar & filters
  //height: auto;
  z-index: 2;

}

.info-pane{
  position: fixed;
  right: 100px;
  bottom: 30px;

  width: 100px; 
  height: auto;

  padding: 0px 10px;

  text-align: right;

  z-index: 3;
}


.graph-controls{

  position: fixed;
  bottom: 30px;
  right: 25px;

  width: 30px; 
  height: auto;

  //margin-top: calc(100vh - 55px);
  margin-left: calc(100vw - 55px);

  z-index: 3;

}


.graph-nav-control{

  position: relative !important;

  width: 30px;
  height: 30px;

  line-height: 30px;
  text-align: center;
  
  color: white;
  background: #4A95EF;

  //box-shadow: 2px 2px 2px grey;
  margin: 10px 0px;

  //border: 1px solid black;
}

.btn-active{
  background-color: #4A4AEF !important;
}

.graph-nav-control:hover{
  font-size: 1.1em;
}

