/*
 * Graph CSS
 */

.graph-container{
  position: relative;
  height: 100% !important;
  margin-top: 0px;
  z-index: 1;
}

#cy {

  position: absolute;
  margin-top: 0px;
  min-height: calc( 100vh - 100px);
  height: 100%; 
  width: 100%;

  z-index: 2;
  background-color: #000623;


}


#user-graph {

  position: absolute;

  height: calc( 100vh - 50px); // remove for topbar & filters
  //height: auto;
  z-index: 2;

}

.info-pane{
  position: fixed;
  right: 30px;
  top: 70px;

  //width: 100px; 
  height: auto;

  // padding: 0px 10px;

  text-align: right;

  z-index: 3;

  color: #7A7B80;
}

.info-pane.bottom-center{
  position: fixed;
  top: auto; 
  bottom: 0px;
  left: 50%; 
  margin-left: -150px;
  text-align: center;
  max-width: 200px;
}

#zoom{
  border: 1px solid #274F7F;
  padding: 0px 10px;
}

#message{
  display: none;
  border: 1px solid #274F7F;
  border-radius: 5px;
  line-height: 25px;
  background-color:  transparent;
  margin-bottom: 400px;
}


.graph-controls{

  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 30px; 
  height: auto;

  //margin-top: calc(100vh - 55px);
  margin-left: calc(100vw - 55px);

  z-index: 3;

  background: transparent;

}

.filter-controls{

  position: fixed;
  top: 70px !important; 

  width: 200px;
  max-width: 200px;
  height: auto !important;
  min-height: 10px;
  margin-left: 30px !important;
  margin-right: 30px !important;

  z-index: 3;

  color: #969696;
}

.filter-heading-button{
  background-color: transparent;
  color: #274F7F;
  border-bottom: 1px solid;
  padding: 8px 0px;
  cursor: pointer;
}

.filter-heading-button:after{
  margin-left: 10px;
  content: "\f14c";
  font-family: FontAwesome;
}

h6.clear-filter-shortcut{
  background-color: transparent;
  color: lime; //#274F7F;
  //display: inline-block;
  //margin-right: 10px;
  //padding: 8px !important;
  //border: 1px solid #4A95EF;
  font-weight: 300;
}

h6.clear-filter-shortcut:hover{
  //background-color: #4A95EF;
  cursor: pointer;
  font-weight: 600;
  //border-width: 2px;
}

h6.clear-filter-shortcut:after{
  margin-left: 10px;
  content: "x";
  font-weight: lighter;
}


.graph-nav-control{

  position: relative !important;

  width: 30px;
  height: 30px;

  line-height: 30px;
  text-align: center;
  
  color: white;
  background: #4A95EF;

  //box-shadow: 2px 2px 2px grey;
  margin: 10px 0px;

  //border: 1px solid black;
}



.btn-active{
  background-color: #4A4AEF !important;
}

.graph-nav-control:hover{
  font-size: 1.1em;
}

