/*
 * Colors: 
 *
 * Borders: #B6B6B6
 * Light Gray (for body): #F0F0F0
 * White (for header): #000
 * 
 */


.authorBar{
  margin-bottom: 10px;
}

.contribution-content{
  padding-top: 20px; 
  border-top: 2px solid #B9B9B9;
}


/*
 * Additional Functionality
 */

#rating .glyphicon{
  font-size: 20px;
  line-height: 20px;
  color: goldenrod;
} 


#avg_rating{
  background-color: #343333;
  padding: 2px 5px;
  color: goldenrod; //#BAB2B2;
  border-radius: 2px;
}


/*
 * Modal Editors
 */


.form-control{
  border-radius: 0px;
  background-color: #f0f0f0;
  margin-top: 5px;
  border-color: #b6b6b6;
  color: #333;
}

input{
  width: 300px;
  display: inline-block;
  background-color: white;
}

/*
 * Attachments
 */

.attachment-thumb{
  background-size: contain; 
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #B9B9B9;
  background-position: center;
  background-repeat: no-repeat;
}

.attachment-thumb.small{
  height: 40px;
}

.attachment-details{
  margin-left: 20px;
}

.attachments {
 display: inline-block;
 width: 100%;
}




/*
 * ng-tags CSS
 */

.tags{
  margin-top: 10px !important;
}

.tag{
  //background-color: #B9B9B9;
  border: 1px solid #B9B9B9;
  padding: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}


tags-input .tags .tag-item{
  background: #f0f0f0 !important;
  border-radius: 0px;
}

tags-input.tags.focused{
  -webkit-box-shadow: none;
  box-shadow: none;
}

tags-input .tags .input{
  height: 30px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 0 5px !important;
}

tags-input .tags{
  padding: 0px;
}

tags-input .autocomplete{
  -webkit-box-shadow: none;
  box-shadow: none;
}

tags-input .autocomplete .suggestion-list{
  max-height: 60px;
}

tags-input .tags{
  //max-height: 35px;
  overflow-y: auto;
}

/*
 * Text Angular
 */
.ta-editor.ta-html, .ta-scroll-window.form-control{
  max-height: 500px;
  background: white;
}

.textAngular .btn-default{
  padding: 0px !important;
}

.textAngular .btn-group{
  display: inline-block;
}


.textAngular .btn-toolbar{
  padding: 0px !important;
}

.ta-scroll-window > .ta-bind{
  padding: 3px 3px !important; 
  font-size: small;
}

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group{
  margin-left: 0px !important;
}

.textAngular .btn-default{
  border-color: #a9a9a9 !important;
}


/*
 * Contribution Content
 */

.contribution-content > p > img{
  max-width: 100%;
  margin: 10px 0px 10px 0px;
  //width: 30px !important; 
  //height: 30px !important;
}

.profile-header{
  padding-bottom: 10px;
  border-bottom: 2px solid #BAB8B8;
}

.profile-details-container{
  height: 100%; 
}

.profile-img-container{
  border: 1px solid #BAB8B8;
  background-size: cover !important;
  background-position: center !important;

  float: right;

  width: 100px; 
  height: 100px;

  //max-width: 150px; 
  //max-height: 150px;

}



/*
 * Profile Modals
 */
#profileModal .accordion{
  margin-top: 15px;
}

.profile-item-container{
  max-height: 37.5vh; 
  overflow-y: auto;
}

.profile-item{
  border-bottom: 1px solid #b6b6b6;
  padding: 4px;
}

.profile-item:hover{
  background-color: white;
}

.tagline{
  border: 1px solid #B6B6B6;
  border-radius: 5px;
  text-align: center;
}


.award-box{
  border: 1px solid rgba(0, 0, 0, 0.26);
}

.award-name{
  text-transform: uppercase;
  font-weight: 400;
  color: #777;
  font-size: 12px;
  margin: 10px 0px;
}

.awardee-name{
  color: #777; 
  font-size: 12px;
  font-weight: 400;
}

.awardee-details{
  font-size: 11px;
  font-weight: 300;
  margin: 10px 0px;
}

.awardee-picture{
  height: 100% !important;
}

.awardee-profile-picture{
  position: relative;
  border-radius: 50%;
  max-height: 50px;
  max-width: 100%;
}


.statisticsContainer{
  line-height: 26px;
}

.statsPopover{
    width: 300px;
    z-index: 1000000;
}


/*
 * Animations
 */

.animate.ng-hide-remove      { animation:0.5s fadeInUp ease; }
.animate.ng-hide-add         { animation:0.5s fadeOutDown ease; }

.animate-if.ng-enter, .animate-if.ng-leave {
  animation:0.5s fadeInUp ease; 
}

