// ------------------------------- Constants
// Background-color : #000623
// Light background-color: #DDDDDD
// Borders: #B6B6B6
// Headings : Opens Sans
// General: Lora
// General font color: #333


/* Modal Styles */
.modal{
  height: 100%; 
  width: 100%;
  overflow: auto !important;
  top: 20px !important;
}

#contributionViewModal{
  overflow: auto !important;
}


.modal.in .modal-dialog{
  -webkit-transform: translate(0, 20px);
     -moz-transform: translate(0, 20px);
      -ms-transform: translate(0, 20px);
       -o-transform: translate(0, 20px);
          transform: translate(0, 20px);
}

.modal-dialog{
  padding: 0px !important;
  margin-bottom: 15px;
}

.modal-content{
  position: relative;
  overflow-y: hidden !important;
  box-shadow: none !important;
  border-radius: 0px !important;
}

.modal-backdrop{
  opacity: 0.6 !important;
}


/* Modal Header */
.modal-header{
    height: 45px;
    padding: 10px 0px 10px 0px !important;
    border-bottom: 1px solid #B6B6B6 !important;
    overflow: hidden !important; /*important*/
    display: none;
}


/* Modal Body */
.modal-body{
    height: 100%;
    //max-height: 90vh;
    padding: 25px 30px !important;
    background-color: white;
    //overflow-y: scroll !important;
}

.modal-section{
  margin-top: 15px;
}




/* Modal Specific */



/*
 * Profile Modals
 */
#profileModal .accordion{
  margin-top: 15px;
}

.profile-item-container{
  max-height: 37.5vh; 
  overflow-y: auto;
}

.profile-item{
  border-bottom: 1px solid #b6b6b6;
  padding: 4px;
}

.profile-item:hover{
  background-color: white;
}

.tagline{
  border: 1px solid #B6B6B6;
  border-radius: 5px;
  text-align: center;
}


.award-box{
  border: 1px solid rgba(0, 0, 0, 0.26);
}

.award-name{
  text-transform: uppercase;
  font-weight: 400;
  color: #777;
  font-size: 12px;
  margin: 10px 0px;
}

.awardee-name{
  color: #777; 
  font-size: 12px;
  font-weight: 400;
}

.awardee-details{
  font-size: 11px;
  font-weight: 300;
  margin: 10px 0px;
}

.awardee-picture{
  height: 100% !important;
}

.awardee-profile-picture{
  position: relative;
  border-radius: 50%;
  max-height: 50px;
  max-width: 100%;
}


.statisticsContainer{
  line-height: 26px;
}

.statsPopover{
    width: 300px;
    z-index: 1000000;
}



.authorBar{
  margin-bottom: 35px;
  font-size: 15px;
  line-height: 21px;
}

.author-profile{
  min-height: 60px;
  max-width: 60px;
  background-size: cover !important;
  border-radius: 50%;
}

.authorInfo{
  margin-left: 15px;
}

.meta{
  font-size: 11px;
  line-height: 14px;
  color: #A3A3A3;
}


.title{
  font-size: 40px;
  line-height: 42px;
}

.contribution-content{
  padding-top: 15px; 
}

#rating .glyphicon{
  font-size: 14px;
  line-height: 15px;
  color: goldenrod;
} 

#avg_rating{
  //border-color: #343333;
  padding: 0px 0px 0px 1px;
  color: goldenrod;
  border: 1px solid goldenrod; //#BAB2B2;
  border-radius: 2px;
  font-size: 14px;
}

// --- comments
div.modal-section.comments{
  margin: 25px !important;
  max-height: 150px;
}

div.comment{
  margin-bottom: 15px !important;
}

.comment-author-name{
  background-color: #BDBDBD;
  padding: 5px; 
  display: inline-block;
}

.comment-heading{
  border-bottom: 1px solid #A4A0A0;
}

.dateCreated {
  display: inline-block;
  float: right;
}

.comment-body{
  background-color: #E9E6E6;
  border-bottom: 1px solid #A4A0A0;
  line-height: 24px;
  font-size: 12px;
}

.comment-actions > a{
  color: blue; 
  margin-right: 5px;
}

.comment-actions > a:hover{
  color: #080872; 
}


/*
 * Modal Editors
 */


.form-control{
  border-radius: 0px;
  border-color: #b6b6b6;
  color: #333;
}

input{
  width: 100%;
  display: inline-block;
  background-color: white;
}

input.new-node-title:focus{
  outline: -webkit-focus-ring-color auto 5px !important;
}

/*
 * Text Angular
 */
.ta-editor.ta-html, .ta-scroll-window.form-control{
  max-height: 500px;
  background: white;
}

.textAngular .btn-default{
  padding: 0px !important;
}

.textAngular .btn-group{
  display: inline-block;
}


.textAngular .btn-toolbar{
  padding: 0px !important;
  background-color: white;
}

.ta-scroll-window > .ta-bind{
  padding: 3px 3px !important; 
  font-size: small;
}

.btn-toolbar > .btn, .btn-toolbar > .btn-group, .btn-toolbar > .input-group{
  margin-left: 0px !important;
}

.textAngular .btn-default{
  border-color: #a9a9a9 !important;
}

/*
 * Contribution Content
 */

.contribution-content > p > img{
  max-width: 100%;
  margin: 10px 0px 10px 0px;
  //width: 30px !important; 
  //height: 30px !important;
}

.profile-header{
  padding-bottom: 10px;
  border-bottom: 2px solid #BAB8B8;
}

.profile-details-container{
  height: 100%; 
}

.profile-img-container{
  border: 1px solid #BAB8B8;
  background-size: cover !important;
  background-position: center !important;

  float: right;

  width: 100px; 
  height: 100px;

  //max-width: 150px; 
  //max-height: 150px;

}


/*
 * Attachments
 */

.attachment-thumb{
  background-size: contain; 
  height: 50px;
  margin-bottom: 10px;
  border: 1px solid #B9B9B9;
  background-position: center;
  background-repeat: no-repeat;
}

.attachment-thumb.small{
  height: 40px;
}

.attachment-details{
  margin-left: 20px;
}

.attachments {
 display: inline-block;
 width: 100%;
}



/*
 * ng-tags CSS
 */

.tags{
  margin-top: 10px !important;
}

.tag{
  //background-color: #B9B9B9;
  margin-right: 5px;
  display: inline-block;
}

tags-input .tags .tag-item{
  background: #f0f0f0 !important;
  border-radius: 0px;
}

tags-input.tags.focused{
  -webkit-box-shadow: none;
  box-shadow: none;
}

tags-input .tags .input{
  height: 30px;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  padding: 0 0 0 5px !important;
}

tags-input .tags{
  padding: 0px;
}

tags-input .autocomplete{
  -webkit-box-shadow: none;
  box-shadow: none;
}

tags-input .autocomplete .suggestion-list{
  max-height: 350px;
}

tags-input .tags{
  //max-height: 35px;
  overflow-y: auto;
}

/* Modal footer */
.modal-footer{
  bottom: 0px;
  width: 100%; 
  height: 60px;
  padding: 7.5px 30px !important;

  background-color: white !important;

  display: none;
}

.modal-button{
  min-width: 30px;
  font-size: 15px;
  font-family: 'Open Sans', sans-serif;
  padding: 0px; 
  border-color: #B9B9B9 !important;
  height: 30px !important;
  line-height: 30px;
  border-radius: 0px !important;
  margin-left: 3px;
}



.node-arrow{
  position: fixed;
  font-size: 56px;
  color: #b9b9b9;
  top:15%;
}

.node-arrow:hover{
  color: white;
}

.left-side-arrow{
  left: 13%;
  text-align: left;
}

.right-side-arrow{
  right: 13%;
  text-align: right;
}

.links-holder{
  font-size: 12px;
  max-width: 200px;
  max-height: 50vh; 
  overflow: scroll;
}

.links-holder > a{
  color: #8e8b8b;
  display: block;
  max-width: 150px;
  word-wrap: break-word;
  margin-bottom: 10px;
}

.links-holder > a:hover{
  color: #7A7575;
  text-decoration: underline;
}