.profile-container{
  padding: 60px 30px !important; 
}

.profile-header{
  padding-bottom: 10px;
  border-bottom: 2px solid #BAB8B8;
}

.profile-details-container{
  height: 100%; 
}

.profile-img-container{
  border-radius: 50%; 
  border: 1px solid #BAB8B8;
  background-size: cover !important;
  background-position: center !important;

  float: right;

  width: 75px; 
  height: 75px;

  //max-width: 150px; 
  //max-height: 150px;

}

#profileModal .accordion{
  margin-top: 15px;
}

.profile-item-container{
  max-height: 50vh; 
  overflow-y: auto;
}
