// ------------------------------- Constants
// Background-color : #000623
// Light background-color: #DDDDDD
// Borders: #B6B6B6
// Headings : Opens Sans
// General: Lora
// General font color: #333





// ----------------- General CSS
*{
	margin: 0px; 
}

*:focus{
	outline: none !important;
}

.pointer{
	cursor: pointer;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 2px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    //background: #FF0000;
}

body {
	position: relative; 
	width: 100%;
	height: 100%; 

	font-family: 'Open Sans', sans-serif;
	font-size: 12px;
	color: #333;
}


/* Bootstrap overrides */
.row{
	margin-right: 0px !important;
	margin-left: 0px !important;
}

.row > [class*="col-"]{
	padding: 0px !important; 
}

.container-fluid{
	//border: 1px solid black;
	width: 100% !important;
	padding: 0px !important;
}


/* General HTML  */

h1, h2, h3, h4, h5 ,h6{
	font-family: 'Open Sans', sans-serif;
	font-weight: 600;

	padding: 0px !important;
	margin: 0px;
	margin-bottom: 4px;
}

h1{
	font-size: 26px; 
}


h2{
	font-size: 22px;
}

h3{
	font-size: 18px;
}

h4{
	font-size: 16px;
}

h5{
	font-size: 14px;
}

h6{
	font-size: 12px;
}

p, ul, ol{
	font-size: 14px;
	line-height: 24px;
	font-family: 'Lora', serif;
}

hr{
	padding: 0px;
	margin: 2px 0px;
	border-bottom: 1px solid #B6B6B6;
}

img{
	max-width: 100%;
}

blockquote{
	border-left: 5px solid #A6A6A6;
}



/* Links */

a {
  color: #000000;
}

a:hover, a:visited, a:focus{
	text-decoration: none;
}



/* Buttons */
button{
	height: 30px !important; 
	width: 30px !important;
}

// to remove outlines after focus
button:focus {
    outline: 0 !important;
}

.btn:hover{
	-webkit-transform: none !important;
	   -moz-transform: none !important;
	    -ms-transform: none !important;
	     -o-transform: none !important;
	        transform: none !important;
}

.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus{
	outline: none !important;
}


/* Inputs */
label{
	font-size: 14px !important;	
}

input{
	padding: 5px !important;
	font-size: 12px !important;	
}

input#search{
	height: 30px;
}

textarea{
	padding: 5px !important;
	font-size: 12px !important;
	width: 100% !important; 
	resize: none;
}


/* App Body & Theme CSS */
#brand{
	font-family: 'Open Sans', sans-serif;
	font-size: 17px;
	line-height: 20px;
	font-weight: 900;
	color: #4A95EF;
}

.app-container{

	position: relative !important; 
	margin: 0px !important; 
	padding: 0px !important;
	width: 100% !important; 
	height: 100vh;


	background-color: white;
}

/* Button Icons */
.icon{
	height: 30px !important; 
	width: 30px !important; 

	border-radius: 0px;
	font-size: 16px !important;

	cursor: pointer;
}

.icon:hover{
    transform: none;
}


/* qTip CSS */
.qtip, .qtip-default{
	
	z-index: 20 !important;
	
	max-width: 150px;

	background-color: #000623; 
	border: 1px solid #4A95EF;
	color: #4A95EF;

}

.qtip-content{
	font-size: 12px; 
	line-height: 14px;
	text-align: center;
}

/* Panel & Accordian CSS */
.panel-group{
	margin-bottom: 0px;
}

.panel-group .panel{
	border-radius: 0px;
}

.panel{
	border-color: #B6B6B6;
}

.panel .panel-heading {
	background-color: #DDDDDD !important;
	border-top-left-radius: 0px !important;
	border-top-right-radius: 0px !important;
	padding: 5px;
}
 
.sub-accordion{
	margin-top: 2px;
	margin-bottom: 3px;
	margin-left: 18px;
	margin-right: 22px;
}


/* Tables */
table.table > tbody > tr td, table.table > tbody > tr th, table.table > thead > tr td, table.table > thead > tr th{
    padding: 2px 5px !important;
}
.table > thead > tr > th, .table > tbody > tr > th, .table > tfoot > tr > th, .table > thead > tr > td, .table > tbody > tr > td, .table > tfoot > tr > td{
    vertical-align: middle;
}
table.table > tbody > tr td, table.table > tbody > tr th, table.table > thead > tr td, table.table > thead > tr th{
    font-size: 12px;
}
.table > caption + thead > tr:first-child > th, .table > colgroup + thead > tr:first-child > th, .table > thead:first-child > tr:first-child > th, .table > caption + thead > tr:first-child > td, .table > colgroup + thead > tr:first-child > td, .table > thead:first-child > tr:first-child > td{
    max-width: 100px;
}

tbody{
	max-height: 500px;
	overflow-y: auto;
}

tr:hover{
	background-color: #B6B6B6;
}

/* Pagination */
.pagination>.active>a, .pagination>.active>a:focus, .pagination>.active>a:hover, .pagination>.active>span, .pagination>.active>span:focus, .pagination>.active>span:hover{
	border-color: #B6B6B6; 
	background-color: #DDDDDD; 
}

.pagination>li>a, .pagination>li>span{
	color: #333 !important;
	font-family: sans-serif;
}


.dock{
	padding: 20px; 
	margin-left: 50%;
	height: 100%;
}


.docked{
  width: 50% !important;
  float: left;
}


.node-arrow{
	position: absolute;
	font-size: 56px;
	color: #b9b9b9;
	top:15%;
}

.node-arrow:hover{
	color: white;
}

.left-side-arrow{
	left: 15%;
	text-align: left;
}

.right-side-arrow{
	right: 15%;
	text-align: right;
}

.links-holder{
	font-size: 12px;
	max-width: 200px;
	max-height: 60%; 
	overflow: scroll;
}

.links-holder > a{
	color: #8e8b8b;
	display: block;
	max-width: 150px;
	word-wrap: break-word;
	margin-bottom: 10px;
}

.links-holder > a:hover{
	color: #7A7575;
	text-decoration: underline;
}