@import 'https://fonts.googleapis.com/css?family=Roboto+Condensed:300, 600, 900|Open+Sans:300,900';

.border{ 
	border: 1px solid black;
}


/*
 *		General CSS
 */
*{
	/*padding: 0px;*/
	margin: 0px; 
}

html{
	
}

body {
	positive: relative; 
	width: 100%;
	height: 100%; 

	font-family: 'Open Sans', sans-serif;
	font-size: 12px;

	background: white;

}

h1, h2, h3, h4, h5 ,h6{
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 900;
}

a {
  color: #00B7FF;
}

a:hover, a:visited, a:focus{
	text-decoration: none;
}

p{
	font-size: 12px !important;
}

img{
	width: 300px;
}

.container-fluid{
	//border: 1px solid black;
	width: 100% !important;
	padding: 0px !important;
}

input#search{
	height: 30px;
}

button{
	height: 30px !important; 
	width: 30px !important;
}

// to remove outlines after focus
*:focus {
    outline: 0 !important;
}

textarea{
	padding: 5px !important;
	font-size: 12px !important;
	width: 100% !important; 
	resize: none;
}

input{
	padding: 5px !important;
	font-size: 12px !important;	
}

label{
	font-size: 14px !important;	
	font-family: 'Open Sans', sans-serif;
}


/*
 *  Top Nav CSS
 */
nav{
	position: fixed !important; 
	top: 0px;
	
	width: 100%;
	
	padding: 0px !important;
}

nav .navbar-nav{
	padding: 0px 0px !important;
	z-index: 2;

}

.navbar{
	margin: 0px !important;
	padding: 0px !important;
	height: auto;

}

.nav.navbar-nav{
	height: 50px !important;   // top-bar height
	margin: 0px 50px !important;

	padding: 0px !important;
}

.navbar-left{
	margin: 0px 50px !important;
}

.navbar-right{
	margin: 0px 25px;
	margin-left: 0px !important;
    border-bottom-width: 0px !important;
}

.navbar-collapse{
	padding: 0px;
}

.navbar-title{
	padding: 0px !important;
	margin-right: 100px;
	font-weight: 900 !important;
}

.navbar .navbar-collapse .navbar-nav > li.dropdown:hover .dropdown-menu {
  transform: translate(0, -3px); }

.navbar .navbar-collapse .navbar-nav > li.dropdown:hover:after {
  transform: translate(-50%, -3px); 
}

#noDropdown > li.dropdown:hover:after {
  display: none;
  visibility: none;
  opacity: none;
  transform: none; 
}

.navbar .navbar-collapse .navbar-nav > li.dropdown.notification.warning a.dropdown-toggle .icon {
    background-color: rgb(74, 149, 239);
    color: #e7edee;
}

.dropdown-menu{
	width: 150px !important;
	min-width: 100px !important;
}

/*
 * App Body & Theme CSS
 */
.app-container{
	position: relative !important; 

	width: 100% !important; 
	height: calc(100vh - 50px)

	margin: 0px !important; 
	padding: 0px !important;

}

.icon{
	height: 30px !important; 
	width: 30px !important; 

	border-radius: 50%;
	font-size: 16px !important;

	cursor: pointer;
}

.icon:hover{
    transform: scale(1.1) rotate(7deg);
}

li.notification{
	margin-left: 10px !important;
}

.dropdown-toggle{
	padding: 0px !important;
}

.btn-link{
	padding: 0px 0px !important;
}

.nav-tabs > li.active a, .nav-tabs > li.active a:focus, .nav-tabs > li.active a:hover{
	border-bottom: 4px solid #4386D7 !important;
	color: #4386D7 !important;
}


/*
 * qTip CSS
 */

.qtip-titlebar{
	//height: 30px; 
	line-height: 32px;
	font-size: 16px; 
	background-color: #DFDDDD !important; 
	padding: 0px 10px !important;
}

.qtip, .qtip-default{
	background-color: #F7F7F7; 
	border: 1px solid #8E8C8C;
	font-size: 12px; 
	line-height: 16px;
}

.qtip-btn{
	padding: 0px !important; 
}

.qtip-btn:focus{
	outline: 0 !important;
}


/*
 * Helper CSS
 */
.height-400{
	max-height: 400px;
	overflow: auto;
}


.card{
  padding: 10px 20px;
  margin-bottom: 15px;
  z-index: 100;
}

.card:hover{
  background-color: #BBBBBB;
}
