<style>
.ranges li{
    color: #333; 
}

.ranges li:hover{
    background-color: #B6B6B6;
    border: none;
}

.ranges li.active{
    background-color: #B6B6B6;
    border: none;
}

.range_inputs > .btn{
    width: 60px !important;
}


</style>

<div class="modal-dialog" ng-show='groupDetails' ng-controller="GroupDetailsController" ng-init='init()'>
    <!-- Modal content-->
    <div class="modal-content">

        <div class="modal-body">

            <!-- header -->
            <div class='row'>
                <div class='col-sm-6'>
                    <h3>{{group.name}}</h3>
                    <!-- <h6 class='meta'>{{ users[group.createdBy].nickname ? users[group.createdBy].nickname : users[group.createdBy].name }}</h6> -->
                    <h6 class='meta'>{{ group.members.length }} Members</h6>
                </div>
                <div class='col-sm-6'>
                    <div id="reportrange" class="pull-right" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                        <i class="glyphicon glyphicon-calendar fa fa-calendar"></i>&nbsp;
                        <span></span> <b class="caret"></b>
                    </div>
                </div>
            </div>

            <!-- interactive pie chart -->
            <div class='modal-section'>
                <nvd3 options="options" data="data"></nvd3>
            </div>

            <!-- list of users -->
            <div class='modal-section'>

                    <form>
                    <div class="form-group">
                    <div class="input-group">
                    <div class="input-group-addon"><i class="fa fa-search"></i></div>
                    <input type="text" class="form-control" placeholder="Search for a user" ng-model="searchUser">
                    </div>      
                    </div>
                    </form>


                    <table class="table table-bordered table-striped">

                    <thead>
                        <tr>
                        <td class='col-sm-1'>
                          <a href="#">
                            #
                          </a>
                        </td>
                        <td class='col-sm-2'>
                          <a href="#" ng-click="sortType = 'lastLoggedIn'; sortReverse = !sortReverse">Last Logged In
                            <span ng-show="sortType == 'lastLoggedIn' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'lastLoggedIn' && sortReverse" class="fa fa-caret-up"></span>
                          </a>
                        </td>
                        <td class='col-sm-5'>
                          <a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">Name
                            <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                          </a>
                        </td>
                        <td class='col-sm-1'>
                          <a href="#" ng-click="sortType = 'total'; sortReverse = !sortReverse">Total
                            <span ng-show="sortType == 'total' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'total' && sortReverse" class="fa fa-caret-up"></span>
                          </a>
                        </td>
                        <td class='col-sm-1'>
                          <a href="#" ng-click="sortType = 'created'; sortReverse = !sortReverse">Created
                            <span ng-show="sortType == 'created' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'created' && sortReverse" class="fa fa-caret-up"></span>
                          </a>
                        </td>
                        <td class='col-sm-1'>
                          <a href="#" ng-click="sortType = 'rated'; sortReverse = !sortReverse">Rated
                            <span ng-show="sortType == 'rated' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'rated' && sortReverse" class="fa fa-caret-up"></span>
                          </a>
                        </td>
                        <td class='col-sm-1'>
                          <a href="#" ng-click="sortType = 'viewed'; sortReverse = !sortReverse">Viewed
                            <span ng-show="sortType == 'viewed' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'viewed' && sortReverse" class="fa fa-caret-up"></span>
                          </a>
                        </td>

                        </tr>
                    </thead>

                    <tbody>
                    <tbody>
                        <tr class='pointer' ng-repeat="member in group.members | orderBy: [ sortType, 'lastLoggedIn' ]:sortReverse | filter:searchUser as filtered" 
                                ng-show='$index < (currentPage)*itemsPerPage && $index >= (currentPage-1)*itemsPerPage'
                                data-dismiss='modal' ng-if='member.role != "Admin"'>
                            <td class='col-sm-1'>{{ $index + 1 }}</td>
                            <td class='col-sm-2' ng-if='member.lastLoggedIn > -1'><time>{{ member.lastLoggedIn | amCalendar }}</time></td>
                            <td class='col-sm-2' ng-if='!(member.lastLoggedIn > -1)'>--</td>
                            <td class='col-sm-5'>{{ member.name }}</td>
                            <td class='col-sm-5'>{{ member.total }}</td>
                            <td class='col-sm-1'>{{ member.created }}</td>
                            <td class='col-sm-1'>{{ member.viewed }}</td>
                            <td class='col-sm-1'>{{ member.rated }}</td>
                        </tr>
                    
                    </tbody>

                    </table>

                    <!-- pagination -->
                    <ul uib-pagination total-items="filtered.length" ng-model="currentPage" max-size="maxSize" class="pagination-sm" boundary-links="true" force-ellipses="true" items-per-page='itemsPerPage'></ul>
            </div>



            <!--  interactive graph -->
            <!-- <div class='modal-section'>
                <nvd3 options="options" data="data"></nvd3>
            </div> -->

            <!-- buttons -->
            <div class='row text-right modal-section'>
                <button type="button" ng-if='me.id == group.createdBy' class="btn btn-default modal-button" ng-click='deleteGroup()' uib-tooltip='Delete' uib-position='top'><i class='fa fa-trash'></i></button>
                <button type="button" class="btn btn-default modal-button" ng-click='back()' uib-tooltip='Back' uib-position='top'><i class='fa fa-reply'></i></button>
            </div>

        </div>

    </div>
</div>

<!-- Date Range Picker Initialization -->
<script type="text/javascript">


</script>